[2015-01-06 20:18] bcallaars opened #62 "Payer info not available when getting the billing agreement"
When I do `paypal.billingAgreement.get` the `payer` property is never added to the response object as shown in the documentation.

https://developer.paypal.com/webapps/developer/docs/api/#retrieve-an-agreement

I assume this is because of an API problem as shown here (https://github.com/paypal/PayPal-Python-SDK/issues/57) or am I wrong?

[2015-01-06 20:24] bcallaars commented on #62
[f: 1h]

[2015-01-06 20:33] jziaja commented on #62
Hi @bcallaars, the API team is actively working on getting this fixed.

(cc [PayPal PHP SDK Issue #155](https://github.com/paypal/PayPal-PHP-SDK/issues/155))

[2015-01-07 18:58] avidas commented on #62
This bug is getting tracked in ( [PayPal PHP SDK Issue #155](https://github.com/paypal/PayPal-PHP-SDK/issues/155))

[2015-01-07 18:58] #62 closed

[2015-01-14 14:09] alekbarszczewski opened #63 "It is impossible to set up more than one pay-pal configuration"
What I need is to use 2 pay-pal APPs (with different client_id/secret). It seems that there is no such option in `PayPal-node-SDK` because there is only global `paypal.configure(...)` method. Or maybe I am missing something? Is it possible to work with more than one pay-pal APP?

[2015-01-14 15:44] avidas commented on #63
Hey @alekbarszczewski it is supported. Let me provide a sample which demonstrates that behavior

[2015-01-14 16:26] avidas commented on #63
@alekbarszczewski Check out the [sample](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/configuration/multiple_config.js) for multiple config support.

[2015-01-14 16:26] #63 closed

[2015-01-14 16:41] alekbarszczewski commented on #63
@avidas Thank you!

[2015-01-15 16:16] djMax opened #64 "Support third party usage?"
This library seems to assume that the client id and secret are only going to be used to act on behalf of the app creator. But if someone is building an app that serves "other" PayPal customers, they need slightly different flows even though most of the code is the same. Am I understanding the current code properly? If so, it would be nice to add some way to pass an access/refresh token and have th

[2015-01-15 17:45] avidas commented on #64
@djMax would you mind elaborating on the use cases for those flows so we can respond better? It is possible to create [future payments](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/create_future_payment.js) which supports the flow of exchanging auth codes for refresh tokens for creating payments.

[2015-01-15 19:45] djMax commented on #64
Check out https://appsforhere.ebayc3.com. It lets merchants login to this "multitenant" service and operate on their own account to do various things. They don't have to create a new app, they just login and grant consent for the scopes.

[2015-01-26 18:12] #64 closed

[2015-02-02 15:25] ongspxm opened #66 "Required Scope Missing"
When I tried creating a Payout, I couldn't really get it to work, I keep receiving the "Required Scope Missing" error. Couldn't find any answers, anyone tried using payout yet?

[2015-02-02 15:30] #66 closed

[2015-02-05 07:14] mulyoved opened #67 "paypal.billingAgreement.get() documentation for state field"
looking at this link

https://developer.paypal.com/docs/api/#agreement-object

I don't see the state field documented, when testing I get state: 'Active' what other values I can expect? where this is documented?

[2015-02-05 14:51] jziaja commented on #67
Thanks for reporting this @mulyoved!  I'm following up with the docs team to see if we can get this added along with the expected `state` values.  I know `Pending` and `Expired` are other possible states, but I'll check with the subscription team to get the full list and share that here.

[2015-02-11 19:18] night opened #68 "Web-hook API Issues"
When retrieving a list of web-hook events, the resource links point to intranet URLs:

[code]

Additionally, I have been unable to resend a web-hook event. I get the following error when I try:

[code]

And lastly, eChecks appear to not send web-hook events upon completion (despite your documentation stating that they do). I have, however, gotten some web-hook events for non-eCheck payments.

From

[2015-02-11 19:27] avidas commented on #68
Is this happening on both sandbox and the live environment?

[2015-02-11 19:41] night commented on #68
I have not been able to test web-hooks properly on the sandbox environment as there's not a way to send eCheck payments. Refunding a sent payment also seems to not trigger a web-hook on sandbox either.

[2015-02-13 13:32] kobalicek opened #69 "`utils.merge` has a bug that is causing some other failures."
Guys, I spent today some time with a bug on your side that is happening in `api.js`, this code:

[code]

The problem is that `http_option.headers` is undefined so it throws TypeError. I tracked it down and the issue is most probably in your `utils.merge` function, that uses some weird approach to merge properties from one object to another, and it fails in certain cases.

I wrote a test program to

[2015-02-13 14:51] avidas commented on #69
Hey @kobalicek , we will take a look at this issue and get back to you soon. Thanks.

[2015-02-13 14:53] kobalicek commented on #69
Thanks for checking it out

[2015-02-13 15:05] avidas commented on #69
@kobalicek no problem. While we look at it, feel free to send in a pull request as well if you feel that you have a fix that addresses the issue.

[2015-02-13 15:08] kobalicek commented on #69
Well I just tested it, but I don't feel like proposing a change as the function `merge` looks a bit weird to me, I don't really know what it is supposed to do so it's better if you guys take a look. I think it would be better if you unittest your utils so it behaves like you expect :)

[2015-02-13 15:36] avidas commented on #68
Hey @night I have found out that there is active work going on to fix the intranet URL issue and we will keep you updated here. We will try to get you more feedback on the remaining issues as well.

[2015-02-13 17:10] avidas commented on #69
Hey @kobalicek identified the fix, it will go out in the next release.

[2015-02-19 11:17] kobalicek commented on #69
I'm not sure if the patch is right, the `obj1[p] = obj2[p];` does a weak copy from `obj2`, that means that if `obj2` is not a primitive value it will be just referenced, so any modification in `obj1` will be immediately reflected to `obj2`.

[2015-02-19 11:37] kobalicek commented on #69
I experimented with a merge implementation that probably does what you want, just take a look if you are interested. Some cases are missing as I'm not sure how you intent to handle incompatible types, like `a` is `[]` and `b` is `{}`. I think the function should check for these conditions and fail in such cases.

[code]

[2015-02-26 15:24] avidas commented on #68
@night  The resend issue should be fixed now and the intranet URL issue fix is going to go out soon.

[2015-02-27 17:14] avidas commented on #69
Hey @kobalicek thanks for this! You are correct that incompatible type merges should fail. The merge function here is supposed to take care of the specific use cases as it applies to this sdk, mostly updating the http configurations or data. Clients of the merge function would be internal within the sdks itself and not beyond that. In that respect, it is not meant to be a fits all merge implementa

[2015-02-27 17:15] avidas commented on #67
@mulyoved updates: this will go out soon with documentation updates.

[2015-02-27 17:44] kobalicek commented on #69
Hi @avidas, I provided the code as a reference, the problem in your implementation can be described by using this code (it's using the new merge you provided):

[code]

which outputs:

[code]

I hope you see now the problem, the implementation is still wrong and fails.

[2015-02-27 17:53] avidas commented on #69
Reopening this

[2015-02-27 21:38] knightcode opened #71 "TypeError creating a charge from a Future Payment authorization"
Having previously authorized a future payment and stored the refresh token in our DB, The following code is crashing the server (node.js) when payment information comes in from the iOS SDK. I've already ensured that all the data given to these objects is legit, and the `client_id` and `client_secret` were previously set by a call to `paypal.configure`.

[code]
The exception:
[code]

[2015-03-02 16:02] avidas commented on #71
Hey @knightcode what version of the sdk are you using? Has this started happening recently or has it always been an issue?

[2015-03-02 16:29] avidas commented on #68
@night Intranet issue should be resolved now.

[2015-03-02 18:52] GavinPalmer1984 commented on #69
I grabbed the paypal-rest-sdk just now and encountered this bug as well.  Thank you for your help!

[2015-03-02 19:53] avidas commented on #69
@kobalicek thanks for that example, I would agree with you that the bug in merge still exists. Might use your merge implementation as baseline for the the new rewrite and make sure that you are credited for it.

[2015-03-02 19:55] kobalicek commented on #69
I consider the code I posted as public domain, it's fine, thanks for fixing the bug :+1:

[2015-03-02 20:13] knightcode commented on #71
have it set to always use the latest, so 1.5.0 in this case. And it's always been an issue.

[2015-03-03 14:39] avidas commented on #71
@knightcode the issue is likely related to #69 , I am working on a fix and will post here soon.

[2015-03-03 15:05] avidas commented on #71
@knightcode version 1.5.1 with a patch for #69 will go out soon, could you confirm if the bug still appears on your end?

[2015-03-03 15:06] avidas commented on #69
@kobalicek @GavinPalmer1984 release 1.5.1 went out with updated merge implementation.

[2015-03-03 15:11] kobalicek commented on #69
Thanks! There is a minor typo, that doesn't affect the functionality (I commented).

[2015-03-03 15:15] avidas commented on #69
Thanks @kobalicek patched the error message now on master.

[2015-03-03 15:15] kobalicek commented on #69
Thanks, I see no other problem here, thanks :+1:

[2015-03-03 15:16] avidas commented on #69
closing

[2015-03-03 15:16] #69 closed

[2015-03-03 17:20] knightcode commented on #71
Not crashing any more, but getting:
[code]

Will investigate to see if it's something I'm doing.

[2015-03-03 19:01] knightcode commented on #71
As far as I can tell, I'm doing everything I should be. The future payment authorization worked for a Sandbox account I had created, and I confirmed the bearer token is the same set later on the ppConf object above. The iOS App is pre-connecting to the Sandbox network (as far as I can confirm) and then getting the clientMetadataID(), which is also set correctly. The grand total is positive. Still

[2015-03-03 19:49] avidas commented on #71
Hey @knightcode does the error message give you a paypal debug id? We can use that to look in our internal logs to see what is going on.

Any chance you can try creating the payment with curl request and see if the issue is reproducable? It would be similar to https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payments_server.md#request-2

[2015-03-03 20:53] knightcode commented on #71
The only keys defined on the error object I get back are 'response' and 'httpStatusCode' as returned by Object.keys().

`curl` gives me a `401 Unauthorized`

Here's the command I used:

[code]
The period in the Bearer token seems to differ from the example to which you referred me.

[2015-03-03 21:41] avidas commented on #71
Try setting NODE_ENV=development to see if the debug id is provided for the sdk.

For curl, are you able to use it to create any payment? Was there a PayPal-Debug-Id Header?

More helpful docs on https://developer.paypal.com/webapps/developer/docs/integration/web/accept-paypal-payment/ . One other common reason for 401 is sandbox vs live credentials.

[2015-03-03 22:07] knightcode commented on #71
Ok, that link used "api.sandbox.paypal.com" instead of the "api.paypal.com" that was used in the first example to which you referred me. So I'm not getting the 401 anymore.

The curl response I'm getting now:
[code]

My next stop will be to try and set the redirect_urls, but this seems like it should be unnecessary when I've already got a future payment authorization token.

NODE_ENV is, was, and

[2015-03-04 07:34] skoppe opened #72 "utils.merge"
The merge-function doesn't work correctly with following input:
[code]
it will return {a:undefined};

Add this in begin of function
[code]

And it also allows you to get rid of the ugly try..catch

[2015-03-04 15:29] avidas commented on #72
Hey @skoppe , mind putting this in the form of a pull request?

[2015-03-04 15:31] skoppe commented on #72
Nevermind, on master somebody already fixed that.

[2015-03-04 15:31] #72 closed

[2015-03-04 16:13] avidas commented on #67
This will go out with the next release of docs

[2015-03-04 16:13] #67 closed

[2015-03-04 19:12] knightcode commented on #71
I added redirect_urls to the charge json object as seen in: https://github.com/paypal/PayPal-node-SDK/blob/master/samples/configuration/multiple_config.js

Still getting a `400` from the node SDK.

api.sandbox.paypal.com is always sending a 401 Unauthorized now when using `curl`, with and without the redirect_urls set in the data payload.

[2015-03-05 14:59] ppmtscory commented on #71
@knightcode The validation error for redirect_urls has to do with using the same account as the receiver of funds as you are for the sender of funds.  Please ensure that you are using 2 separate accounts to test with (a merchant and a buyer).

[2015-03-05 17:14] knightcode commented on #71
That's odd error feedback, but thank you.

I'm a bit confused what the Sandbox testers created in our Merchant account are supposed to be then. All requests thus far have been coming from them, especially in Sandbox mode. Are you saying I have to create ANOTHER merchant account, create Sandbox users in there, and then make requests from those users back to the real merchant account????

[2015-03-05 17:47] ppmtscory commented on #71
@knightcode The layout is as such...

developer.paypal.com login account (this is a Live PP account)
|_ sandbox accounts created inside here (can create multiple accounts)
   |_ one account will be a merchant account (the default is the -facilitator account)
   |_ one account will be a buyer account (you'll need to create this account)

As it stands right now, you have the "-facilitator" account t

[2015-03-05 19:45] knightcode commented on #71
I had already done this. The "-facilitator" account is there, as is "-buyer". Additionally, I had created two other test accounts. It's one of these additional test accounts from which all the requests above have been made. The bearer token came from its login credentials being entered in the app, sent up to our server, and obtained from `paypal.generateToken`. And that token was copied to the `cu

[2015-03-05 20:19] ppmtscory commented on #71
Correct, the Client ID/Secret are listed in a different section of the Dashboard.  Those are assigned to the -facilitator account by default and would only be assigned to a different sandbox account if you selected that email/account during the App creation.

Looking up that previous debug ID in our logs (990cc08a2da09) and the 'merchant' account (the account running the API calls and receiving mo

[2015-03-06 22:28] knightcode commented on #71
I created a new sandbox account, and got a future auth bearer token for it from our app. I also deleted and recreated a bearer token for the existing sandbox account used for everything else in the above discussion.

Both still failed with a `Response Status : 400` error when using the node SDK on our server, even with the update charge object containing fake redirect_urls, as shown below. The onl

[2015-03-09 14:10] ppmtscory commented on #71
@knightcode Can you please provide a debug ID for the failures with the Node SDK?

[2015-03-09 17:28] knightcode commented on #71
The error doesn't seem to conform to the documentation. This is what comes back:
[code]

[2015-03-09 17:53] ppmtscory commented on #71
Since you don't use a refresh token for a payment request, this seems to be a different error.  Are you attempting to generate an access token from a refresh token?  If that's the case, then you need to ensure that you are passing through the correct refresh token to be used.  You can also test this with a simple [curl command](https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payme

[2015-03-09 19:32] knightcode commented on #71
I'm following [this sample](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/create_future_payment.js). It passes the refresh_token to `paypal.payment.create` to charge the customer. Is this sample old? Does that call not get a new access token for me?

[2015-03-09 19:46] ppmtscory commented on #71
I will confirm functionality with @avidas and one of us will get back to you.

[2015-03-10 00:19] night commented on #68
Now that just leaves the last issue I listed: (most) cleared eChecks do not trigger a webhook event.

Example PAY-IDs (from production) that completed, and had no webhook: PAY-39388053R70580154KTZWKFA, PAY-6DJ55021Y38754147KT2GIYA, PAY-5P340398M05892613KT3VHIQ

[2015-03-10 18:44] avidas commented on #71
@knightcode That sample should work, I was just testing and it worked fine on sandbox. Are you sure that your client_id, client_secret and mode are the same for your node sdk configuration and ios sdk configuration?

Once you set the authorization_code in the sample, run the sample with "NODE_ENV=development node create_future_payment.js" It should print debug id in the logs, and we can use that t

[2015-03-10 18:45] avidas commented on #68
@night we will take a look at those ids and get back to you.

[2015-03-10 20:53] knightcode commented on #71
@avidas I'll do that here when I get a second, but you seem to be suggesting I need an authorization_code for every transaction despite the comment in that sample that says the refresh token has a long shelf life and can be stored in a database. That suggests I should somehow be able to return to lines 24-52 at some future time and create a payment just using the refresh token and client ID.

That

[2015-03-10 22:59] avidas commented on #71
Hey @knightcode, sorry if my message was confusing but you only need to exchange authorization code for refresh token once per customer. You can charge the customer using that refresh token at a later time.

That particular sample shows the full end to end flow for the first time the customer has granted consent, to creating a payment. Later times, you can ignore the exchange auth for refresh step

[2015-03-11 01:48] avidas commented on #71
# Using the refresh token to create payments later. Tested this and worked fine too.

"use strict";
var paypal = require('../../');
require('../configure');

var future_payment_config = {'correlation_id': 'test df', 'refresh_token': '<TOKEN>'};

//Set up payment details
var create_payment_json = {
    "intent": "sale",
    "payer": {
        "payment_method": "paypal"
    },
    "transactions": [{

[2015-03-12 08:36] arthurtalkgoal opened #73 "'MALFORMED_REQUEST' for update billing plans"
I wanna active my billing plans via update, but it returned Malformed request, seems that someone in the Php got similar problem. it is related to the ```PATCH``` request wrong parameter:

http://stackoverflow.com/questions/25602097/paypal-rest-api-activate-billing-plan

My codes ---
[code]

[2015-03-12 08:48] arthurtalkgoal commented on #73
Oops, I tried to update the npm then the problem gone.

Let me know if you guys need more data to fix that.

[2015-03-12 08:48] #73 closed

[2015-03-19 18:06] knightcode commented on #71
@avidas Finally, tried this script verbatim aside from clientID and refresh_token. No change for me. No debug id. It just says invalid refresh token. This is the token I had gotten back from the test account:
[code]
I tried it both with and without the "Bearer " prefix.

[2015-03-19 18:37] knightcode commented on #71
the client seems to be printing some code to the console. Maybe a debug id? Here are three I got:
[code]

[2015-03-22 19:27] bf opened #76 "Which Webhook to use for paid Invoices?"
Based on your documentation about REST webhooks at https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/ I cannot really see how it is possible to implement that a webhook is called as soon as one of my customers has paid an invoice.

Am I overlooking something or do I need to use IPN for this use case?

[2015-03-22 21:21] poaaaaa commented on #76
![img_1059](https://cloud.githubusercontent.com/assets/11446572/6771561/621b1a46-d0d9-11e4-82f0-8a339bd010b8.JPG)

[2015-03-22 21:37] bf commented on #76
Sorry, but I am not sure what you mean by showing off a receipt which seems to include your personal IBAN.

When I am looking at the event types available for webhooks, I see identifiers like `PAYMENT.SALE.*`,  `PAYMENT.CAPTURE.*` and  `PAYMENT.AUTHORIZATION.*`. I am wondering if the `PAYMENT.SALE.COMPLETED` event also applies to invoices created through the REST API which are paid by the user thr

[2015-03-24 09:43] bf commented on #76
I've now solved the issue through trial and error. It seems invoice receipts are only available via Paypal IPN messages, which are a bit tricky to set up so everything works.

[2015-03-24 09:43] #76 closed

[2015-03-24 19:57] knightcode commented on #71
@avidas checking in. Anything?

[2015-03-24 21:48] avidas commented on #71
@knightcode thanks for the debug_ids. We will take a look here and get back to you.

[2015-03-25 17:06] ppmtscory commented on #71
@knightcode It appears that you may be confusing the access token (Bearer token) with the refresh token.  When using the refresh token, I'm not able to reproduce but when I use the Bearer access token, then I get the same error as you are getting.  Since you are mentioning the Bearer token, I can only assume that this may be what's happening.

When you exchange your auth code for tokens, you recei

[2015-03-25 17:34] knightcode commented on #71
@avidas @ppmtscory The bearer token to which I refer above is the value assigned to the `rt` variable in the code snippet below taken from the aforementioned sample I'm following. Please, confirm that I'm getting passed the correct value.

[code]

[2015-03-25 17:48] ppmtscory commented on #71
You'd mentioned that the token you got back with the test account had "Bearer" in front of it.  With that sample code, when you run the generate token with the Auth code, it does not return "Bearer xxxxxx".  It should just return the refresh token that's needed for the script, without the "Bearer" because the Bearer token is the access token.  Below is what I'm getting back for the refresh token w

[2015-03-25 23:04] knightcode commented on #71
Just tried again and received another Bearer token. Debug ID: `ecdc31e23b066`

I printed each value of `arguments` in the callback, too. It was just the two.

The input I supplied was an object with the properties as follows:
[code]

[2015-03-25 23:20] ppmtscory commented on #71
You're using two different environments....mock for the iOS SDK and then sandbox for the Node SDK.  You'll need to use sandbox for the iOS SDK to generate the appropriate auth token to then input into the node samples.  Remember to use the same sandbox client ID for the iOS SDK that you are using in the node SDK.

[2015-03-26 11:32] thomaschaaf opened #77 "Long running paypal gives errors"
Hello,

I am using the latest 1.5.1 release. But I am having trouble if our server process has been running for a while. The first request after having the application run for a day will always fail like this:

[code]

The second request will work. Then again after a day for example it will fail again and work afterwards. This behaviour lets me think that maybe this is due to a 401 being received

[2015-03-26 14:14] knightcode commented on #71
Fixed that on the client. Same result on the server. Got a Bearer token again.

Debug ID from iOS Client: `c05672da2d1af`
Debug ID from generateToken: `0d9e0216561dc`

Input for `generateToken` is:
[code]

[2015-03-26 14:20] ppmtscory commented on #71
@knightcode You are getting a different error this time according to those debug ID's.  Let me examine our logs quick and I will get back to you.

[2015-03-26 14:51] ppmtscory commented on #71
@knightcode I am seeing some errors with your iOS client debug ID that I'd like to get more clarification on.  I'll be off and on all day but do you have Skype?  If so we could try to hash this out step by step.  Please do not put your skype name here but create a ticket at www.paypal.com/mts with your skype name and then let me know the ticket number here.

[2015-03-26 16:12] knightcode commented on #71
#150326-000235

[2015-03-26 17:30] ppmtscory commented on #71
Thanks @knightcode, I've sent you a contact request.

[2015-03-26 20:23] knightcode commented on #71
Solved:

I don't know if this is universally the case for all mobile SDKs, but the iOS SDK produces a dictionary as follows (printing it to the console with winston flattened the hierarchy, as I copied above):
[code]

`generateToken` requires an object with the property, `authorization_code` , set. So marshaling all the data from SDK to SDK wasn't the way to go. The following lines fixed it for me

[2015-03-26 20:23] #71 closed

[2015-03-28 04:51] gregwym opened #78 "`payer` and `shipping_address` is missing from Billing Agreement object"
Hi Paypal team,

Neither `paypal.billingAgreement.create()` nor `paypal.billingAgreement.get()` returns the `payer` or `shipping_address` information. We relay on these info to providing shipping for our subscribers.

Another missing property is `id` in the response of `paypal.billingAgreement.create()`. I have to merge the billing agreement object with the response of `paypal.billingAgreement.exe

[2015-03-28 04:55] gregwym commented on #78
I have found a SO question without answer. http://stackoverflow.com/questions/27030437/retrieving-shipping-address-and-user-information-from-billing-agreement-via-payp

[2015-03-28 05:05] avidas commented on #78
Hey, this would be relevant https://github.com/paypal/PayPal-PHP-SDK/issues/155

[2015-03-28 05:20] gregwym commented on #78
Hi @avidas, thanks for the quick response. Is there an ETA for the update?

[2015-03-30 02:09] Shivaraman-iyer opened #79 "Getting a Access-Control-Allow-Origin error"
While redirecting to the sandbox account from my local server I am getting :

XMLHttpRequest cannot load https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-0JR727016T795182U. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.

Any clue as to what might be the reason for this would b

[2015-03-30 16:15] jziaja commented on #78
@gregwym, I provided an update on the other thread, which is what we're using to track this API bug and provide further guidance.

[2015-03-30 16:15] #78 closed

[2015-03-30 16:41] avidas commented on #79
Have you tried adding the header 'Access-Control-Allow-Origin' server side? e.g. http://stackoverflow.com/questions/17124600/how-can-i-add-cors-headers-to-a-static-connect-server/17124775#17124775

[2015-03-30 17:40] Shivaraman-iyer commented on #79
I tried doing that, didn't seem to work. But, I now sent the info to the front end and then redirected the page there and it worked.

[2015-03-30 18:59] #79 closed

[2015-03-30 20:53] mattgoucher opened #80 "Rely on `paymentId` query parameter in return URL?"
When I execute a payment, can/should I use the `paymentId` and the `payer_id` that are sent back as query string parameters on the success URL? Or, should I be storing the paymentId after the `payment.create` was successful?

Where the approval_url's are formed like this:
`http://test.com/complete?&paymentId=...&token=...&PayerID=...`

[2015-03-31 05:54] prabjot678 opened #81 "Paypal login issue"
I am facing login issue with paypal,when i redirect user to a approval link. But when as usual, i login with paypal,i succesfully done login,but using sdk,i am unable to login,it told error "wrong username or password".why it is coming ?

[2015-03-31 06:55] #81 closed

[2015-03-31 14:27] avidas commented on #80
Hey @mattgoucher, the paymentId parameter on approval_url and paymentId after the payment.create call are the same. Your success redirect handler can just call payment.execute with the paymentId and PayerID from the approval_url.

You only need to store the paymentId after the payment.create was successful if you want to track how many created payments result in redirect to success endpoint.

[2015-03-31 16:20] jaypatel512 commented on #80
Closing the issue as @avidas response is correct. Use the PaymentID from query parameters. No need to store paymentId on create.

[2015-03-31 16:20] #80 closed

[2015-03-31 22:16] mattgoucher commented on #80
Thanks guys!

[2015-04-03 18:05] night commented on #68
@avidas Any updates on those PAY-IDs?

[2015-04-03 18:15] avidas commented on #68
Hey @night apologies for the delay, any chance you have some more recent PAY-IDs?

[2015-04-03 18:18] night commented on #68
The most recent I have is PAY-7CY03637G9904192TKUEIVAY, which cleared March 20 and sent no webhook call.

[2015-04-03 18:24] avidas commented on #68
Thanks @night do you have the Sale ID of that particular transaction? The sale id is returned in the response after you call [execute on the approved payment](https://developer.paypal.com/docs/api/#execute-an-approved-paypal-payment)

[2015-04-03 18:25] night commented on #68
@avidas That ID would be 2NP27880VW3103247

[2015-04-03 23:04] gregwym opened #82 "Payment Definition names are exchanged in Billing Agreement."
I defined two payment definitions in the Billing Plan. One is TRIAL another is REGULAR. Their names appear to be correct.
After created the Billing Agreement with the given Billing Plan, the payment definition names are exchanged.

[2015-04-06 14:37] avidas commented on #68
@night We reached out to the API team responsible for web hooks. Will let you know when we get an update.

[2015-04-06 14:55] avidas commented on #82
@gregwym could you post the exact calls you made, and the responses received that shows the definition names were reversed? Please don't post any payment information such as credit card numbers or client secret.

[2015-04-08 12:55] avidas commented on #82
Any updates @gregwym ?

[2015-04-08 18:58] avidas commented on #77
@thomaschaaf are you using the sdk for just one merchant? i.e. one pair of client_id/client_secret. How are you doing the configuration of the sdk?

[2015-04-08 22:03] night commented on #68
Two more, in case it helps:

3GN12750AG949493N
5M199116C4918124Y

[2015-04-09 02:58] gregwym commented on #82
Hi @avidas, I just tried again with the sandbox and cannot reproduce the issue any more. Thanks for following up! I will update if I see this behaviour again.

[2015-04-09 02:58] #82 closed

[2015-04-09 15:16] avidas commented on #77
Another possible debugging option, a lot of the token persistence to improve sdk performances got in version v1.4.0 , so if possible at all, it might be worth trying out v1.3.1 to see if the issue persists.

[2015-04-09 15:22] thomaschaaf commented on #77
Thanks for the replies.

I will try both and see if it helps.

[2015-04-13 17:38] night commented on #68
I'm no longer receiving any web-hooks. I log all API payment calls and web-hooks, and the last web-hook I received was at 2015-04-06T09:08:31.281Z

[2015-04-14 16:24] avidas commented on #68
@night any Sale ID or [paypal debug ids](https://github.com/paypal/PayPal-node-SDK#debugging) you could provide?

[2015-04-16 05:03] night commented on #68
@avidas I was getting "completed" web-hooks for a lot of non-eCheck transactions (not all) after the payment was received, but those stopped completely (as my last reply dictated). It seems every transaction yields no web-hooks now.

Another pending transaction that completed without a web-hook (yesterday): 60555830Y71350233

At this point, it seems web-hooks are completely nonfunctional, which is

[2015-04-16 08:10] nodu opened #83 "XMLHttpRequest cannot load"
Hi I've been trying to integrate this into my webapp.  I've followed the great guide found here: https://devblog.paypal.com/building-a-web-app-with-node-js-the-paypal-sdk-part-2/

For the life of me,  I cannot get rid of this error:
    `XMLHttpRequest cannot load https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-0LF19022L82747826. The request was redirected to 'https://

[2015-04-16 14:38] avidas commented on #83
Hey, @nodu can you share your node/express app server configurations and what headers you are modifying? This could be related to [this issue](https://github.com/paypal/PayPal-node-SDK/issues/79) or [this one](http://stackoverflow.com/questions/28036696/the-request-was-redirected-to-https-com-site-login-which-is-disallowed-f)

[2015-04-16 15:38] nodu commented on #83
Hi @avidas, thanks for replying.  OK, I'm making an ajax POST via superagent to my server http://localhost:8081/create, the server then runs the same code in devblog.paypal for the same /create action. I've taken out all header modifications as none of them seemed to work and I'm still getting the same error.  Where should I add which headers?  I've tried all the possible configurations several ti

[2015-04-16 19:03] h2non opened #84 "Payouts is sending duplicated payments"
I'm creating a payout and with only one destinatary and the amount is sent three times and I don't know why. This is so estrange.

I'm just using the same code as in the examples:
[code]

And then I call:
[code]

This is generating duplicated payments. I can confirm that the payment was recieved multiple times by the destinatary. This is happening in production `live` mode

[2015-04-16 22:42] alexkshu commented on #68
Hi, this is Alex from PayPal webhooks team, sorry this issue happened to you. We're actively looking at your issue now. All the transaction ids you have shared seems are from echeck payment, to help us narrow down your problem, can you please run an instant payment through REST API, in the response header, you can find debug_id, please forward that id to us, that will help us trace your problem.

[2015-04-17 07:52] night commented on #68
Here is a debug_id from an INSTANT_TRANSFER payment: 01d152cc27f78

Unrelated: In the response from executing a sale, payer.payer_info.first_name is always "" (empty string). If you want, I can open another GitHub issue about that.

[2015-04-17 15:52] jziaja commented on #68
@night Please open another GitHub issue regarding the empty `first_name` and include the `debug_id` from the response header.  I wasn't able to reproduce that behavior on sandbox, so I'm not sure if it's related to the live service or something else.  Regardless, we'll notify the Payments API team of the issue.  Thanks!

[2015-04-17 16:57] night opened #85 "first_name in payer_info is empty string"
In the live API (I cannot reproduce this in sandbox), when transactions are executed (calling ``/v1/payments/payment/<Payment-Id>/execute``) the returned response of payer.payer_info.first_name is "" (empty string) in some payments.

Here is a debug_id from a call to this endpoint where this issue occurred: 01d152cc27f78

[2015-04-20 11:50] iwoodruff opened #86 "500 Internal Server Error on credit card payment creation"
Hey. I keep getting 500 errors when trying to create payments to the paypal sandbox with a credit card. Strangely, the error has been inconsistent when given the same prompts. Two weeks ago I wasn't getting any errors. When I started seeing the 500 errors with my own data, your sample payment JSON would work correctly (https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/create_wi

[2015-04-21 14:29] avidas commented on #86
Hey @iwoodruff generally 500 woulds indicate issues with the API or service availability. I am currently unable to reproduce on sandbox with the above sample, are you seeing the problem still?

[2015-04-21 14:39] iwoodruff commented on #86
@avidas Thanks for the quick response. While I'm no longer seeing the 500 error for that sample specifically, if I change the credit card number and type to any of the test cards listed here http://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm, I get the 500 error.

So perhaps it's an issue with those test cards. If so, could you refer me to a better list of sample c

[2015-04-21 14:55] avidas commented on #86
Hey @iwoodruff it is likely due to overuse of those CC numbers, but we should do a better job of propagating the errors. You can follow [these instructions](https://ppmts.custhelp.com/app/answers/detail/a_id/750/) to associate test cards with your sandbox account.

[2015-04-21 15:10] avidas commented on #86
@iwoodruff I could verify that those test CC numbers are indeed throwing 500s currently, likely cause is high load against these test cards.

[2015-04-21 15:15] iwoodruff commented on #86
Excellent. Thank you for your help. I'll try different cards.

[2015-04-21 16:10] avidas commented on #83
@nodu , have you just tried out the samples from https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/create_with_paypal.js and https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/execute.js ? Together they show how to create a payment with paypal (then you have to visit the approval_url and approve the payment) and then execute the payment. I would suggest doing

[2015-04-21 16:14] avidas commented on #84
Hey @h2non , do you have the [debug_id](https://github.com/paypal/PayPal-node-SDK#debugging) for a case where the payment was received multiple times? Would really help us to get to root cause.

[2015-04-21 16:38] h2non commented on #84
I got two `debug-id` when running the script:
[code]

As I said, it happen when running as `live` mode

[2015-04-21 17:20] avidas commented on #85
@night update, we filled PPTIPS-3489 (internal issue id) and are trying to track down the originating service which produces empty first name value. Thank you for providing the debug_id.

[2015-04-21 17:57] avidas commented on #84
Hey from the logs it looks like there is logic from your app that are retrying failed payouts. These payouts have failed due to insufficient funds on the merchant account and the recipients should not have received  any money. If you have reasons to believe that what we are seeing is incorrect, please reach out to https://ppmts.custhelp.com for accounts related issues.

[2015-04-23 16:45] h2non commented on #84
Despite the last debug, it was due to missing funds.
Now I tried it again with funds, and the transaction was success, but the amount was sent 4 times.

Curiously, it generates only two `debug ids`:
[code]

[2015-04-23 17:41] avidas commented on #84
We are seeing four individual calls for payouts from our end and these are the debug ids for each are 7876c5ba58346, 55da39d1e0d65, c072fa30e002f, de7f22efee0d3. Are you just running the script separately or inside your app? Are you able to reproduce the issue with just individual CURL request to create a payout?

[2015-04-23 17:49] h2non commented on #84
I'm running it in a dead simple one-file script, based on your payouts example, like:
[code]

To be more specific, here's the script I'm actually running:
[code]

[2015-04-23 17:51] h2non commented on #84
I've just noticed the error with my script. The `items` variable is reused.

[2015-04-23 18:00] h2non commented on #84
The problem persist. It continues sending duplicated payments. Here're the new debug ids:
[code]

The `items` array has only length 1, so I don't understand why this happen. The **payment the made 4 times** as well

[2015-04-23 18:43] avidas commented on #84
Sorry to be asking for more tests, but this is different from the behavior you notice with curl requests? https://developer.paypal.com/docs/api/#create-a-batch-or-single-payout

[2015-04-23 21:27] h2non commented on #84
I made some debugging in the library, and there're only two outgoing requests: the first one for the oauth2 autorization, and the second one is a `POST` request to `/v1/payments/payouts`.

So the problem is not (probably) on the client side, which is thing that concerns me.
Could you scale this issue to dig into it in more detail? I can provide specific identifiers about the payments done.

[2015-04-24 10:42] misterch0c opened #87 "error: 'invalid_client' (401)"
[code]
I'm trying to make a payment using the example code. I put console.log('token '+token); line 81 in api.js and console.log(res); line 69. So as you can see the token is not see and res is null on the POST request. I checked my config and it seem to be passed proberly

And this is payload and http_options which are passed to client.invoke
[code]

[2015-04-28 14:32] avidas commented on #87
Hey @misterch0c , is this different from the behavior you experience when you [create a token](https://developer.paypal.com/docs/integration/direct/make-your-first-call/) and [make a request via curl](https://developer.paypal.com/docs/integration/web/accept-paypal-payment/)?

[2015-04-28 21:50] chebyte opened #88 "Adaptive Payments"
HI, question, rest api supports Adaptive Payments? or I have to continue with the classic app?

thanks

[2015-04-28 21:50] night commented on #68
Any updates?

[2015-04-28 22:48] alexkshu commented on #68
Your problem has been identified, our engineer team is working on fixing your problem, will keep you posted after it gets fixed.

[2015-04-29 11:50] misterch0c commented on #87
I fixed it but sorry I don't remember how :/

[2015-04-29 11:50] #87 closed

[2015-04-29 12:23] avidas commented on #88
Hey, at this point Adaptive Payments are not supported on REST so classic APIs would be the way to go.

[2015-04-29 12:23] #88 closed

[2015-04-29 15:57] knightcode opened #89 "Live mode charge from future payment refresh token: "Invalid JSON Response Received" with http status 401"
I had previously spent some time on here getting this code to work for sandbox, and it still does work there. But when trying to create a create charge in production, I'm getting the following error:

[code]

My guess is that it's not authenticating with our production client ID and secret. But, in any case, could you first check for an error status code and report a more helpful error?

My questi

[2015-04-29 16:10] avidas commented on #89
Hey @knightcode , do you have any [debug-ids](https://github.com/paypal/PayPal-node-SDK#debugging) that you could provide?

[2015-04-29 16:36] knightcode commented on #89
I don't. I can't reproduce the problem in sandbox mode.

[2015-05-02 07:07] xxxkilldogxxx commented on #68
I really hope this gets fixed soon, cause the amount of support emails I am getting because of this is annoying now, and over the past couple weeks this has got worse and worse.

[2015-05-03 17:42] avidas commented on #89
@knightcode to answer your question about configuration, if you pass a conf object to paypal.payment.create, those configuration parameters should be overriding the previous call to paypal.configure, but the intent is for that to happen within the scope of that particular paypal.payment.create, not to change those settings for further subsequent calls.

What version of the sdk are you using?

[2015-05-05 08:03] xxxkilldogxxx commented on #68
Could we please have a update one this, its getting very annoying.

[2015-05-06 00:40] night commented on #68
Any updates?

[2015-05-06 01:18] avidas commented on #68
Hey guys, really sorry about the delay here. This happened to be a broader issue than initially anticipated and there are multiple teams working on the fix at present. Because of the multiple moving pieces it is harder to put an exact date down but last I have heard they were planning on releasing in a week or two.

[2015-05-06 16:11] xxxkilldogxxx commented on #68
Okay well any update is better than no update I suppose, thank you @avidas  I am going to add my work around for the time being.

[2015-05-08 16:43] knightcode commented on #89
@avidas Ok, cool. Well that checks out since we just got another attempt that failed even with the above change.

We're using 1.5.2

[2015-05-12 15:18] avidas commented on #77
Hey, is this problem still happening?

[2015-05-12 15:19] avidas commented on #83
Closing as most likely unrelated to sdk, reopen if necessary.

[2015-05-12 15:19] #83 closed

[2015-05-12 21:43] night commented on #68
Anymore updates?

[2015-05-13 02:34] alexkshu commented on #68
Can you try it now?

[2015-05-13 15:31] xxxkilldogxxx commented on #68
I am just making some changes to my code and once a payment comes through which wont take long ill response back with my findings.

[2015-05-13 16:48] night commented on #68
@alexkshu So I'm getting web-hooks now, but it appears that the requests are now malformed? My server is rejecting them with a 400 Bad Request because they don't appear to verify properly against their signature. Any idea why that might be? I'm using PayPal.notification.webhookEvent.verify from this repo, along with headers PAYPAL-CERT-URL, PAYPAL-TRANSMISSION-ID, PAYPAL-TRANSMISSION-TIME, PAYPAL-

[2015-05-13 17:02] alexkshu commented on #68
@night, signature validation test is passing on my side. Have you downloaded the latest certificate from CERT-URL? Can you use webhook-simulator to send an sample event to your url and see if it works?

[2015-05-13 17:20] night commented on #68
@alexkshu https://github.com/paypal/PayPal-node-SDK/blob/master/lib/resources/Notification.js#L48 The repo appears to grab it fresh on every IPN, so I'm not sure. The CERT-URL header is providing me with "https://api.paypal.com/v1/notifications/certs/CERT-360caa42-fca2a594-df8cd2d5" currently. I tried the simulator, but it just tells me "successfully queued" and I haven't gotten a POST from the se

[2015-05-13 18:07] night commented on #68
Found the issue: https://github.com/paypal/PayPal-node-SDK/blob/master/lib/resources/Notification.js#L42

Auth-Alg is now SHA256withRSA

[2015-05-13 18:41] alexkshu commented on #68
please always get the algorithm from header instead of hard coding it.

[2015-05-13 19:04] night commented on #68
Might want to suggest that to @avidas since that would require a change of the verify API in the SDK.

[2015-05-13 19:10] avidas commented on #68
@night we will update the SDK to start accepting the algorithm as a parameter

[2015-05-13 19:22] h2non commented on #84
Any news about this?

[2015-05-14 00:25] night commented on #68
@alexkshu So instant transfer payments come through properly, but not all eChecks do? This morning an eCheck transaction cleared, but I searched the web-hook events for today and did not see a web-hook generated for it (but I have an email confirming its' completion). The debug_id of the initial payment is 921d7072750fc. The transaction id is 11D24003RS694704H.

[2015-05-14 17:11] alexkshu commented on #68
@night, do you see this issue happening to all your echeck payment?

[2015-05-14 17:22] night commented on #68
@alexkshu Not all, but most eChecks appear to not generate a web-hook event. Maybe like 1 in 5 will, from what I've been seeing anyways.

[2015-05-20 15:14] avidas commented on #77
Closing, reopen if problem still happening.

[2015-05-20 15:14] #77 closed

[2015-05-20 15:18] avidas commented on #84
We thought it was likely that the issue was client side, perhaps some sort of retry logic. The logic could be getting invoked if the response from paypal is delayed, and since it gets resend with a different batch id, (its generated by using random so it would be different with each retry), on the server side it seems like separate payout requests are being made and hence multiple payouts are gett

[2015-05-20 15:26] avidas commented on #86
Closing this issue as the CVV failure is a known issue the services team is currently working on to address. If you encounter any other issues, please don't hesitate to open a new issue here and let us know. Thanks!

[2015-05-20 16:32] h2non commented on #84
Thanks for the reply. That sounds a bit estrange. I don't have a clear idea about the retry logic, just because the status code is 400, instead of 500-600, so there isn't needed any kind of retry.

So... what's the solution? Any specific idea to dig into it in detail?

[2015-05-26 19:15] night commented on #68
Any progress?

[2015-06-05 14:29] knightcode commented on #89
@avidas This is still occurring. I confirmed that the Live client id and secret are being set correctly on the server and are those that appear in our Merchant account. I don't know what else is wrong. Is there any other reason we'd get a 401 back? Is there no chance that the SDK will be updated to produce a more helpful error?

[2015-06-06 10:24] madextreme opened #92 "SELF_SIGNED_CERT_IN_CHAIN"
Hi

Sometimes when calling payment.create or payment.execute, I'm starting to get error with the following message "SELF_SIGNED_CERT_IN_CHAIN".

Here is the error stack
[code]

My more detailed description on stackoverflow is here
http://stackoverflow.com/questions/30684344/self-signed-cert-in-chain-heroku-nodejs-with-paypal-integration

Can you please help?

Thanks
Gevorg

[2015-06-08 11:25] sajov opened #93 "Support for new PayPal PLUS Creditcard and ELV"
are there any plans ?

[2015-06-08 17:53] avidas commented on #93
Hey @sajov , the PayPal node SDK is representative of the REST apis that we have on https://developer.paypal.com/docs/api/ . If this is an additional feature that is going to be supported by the REST APIs, we will integrate support into the SDK. If it is something that is already supported by the REST APIs, it should be supported by the SDK already.

[2015-06-08 23:32] tomwhipple commented on #92
Can you quantify the "sometimes"?

Also, will you confirm that you are connecting to live (not sandbox)?

[2015-06-09 21:55] madextreme commented on #92
@tomwhipple

Unfortunately I wasn't able to reproduce that when I wanted. The app is hosted on heroku and is restarted automatically time to time, and sometimes the SELF_SIGNED_CERT_IN_CHAIN error starts to happen after SDK method call.
I went through SDK code, and I think the issue happens at level of "https" module.

I'v added process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"; in my app, so after t

[2015-06-10 02:47] tomwhipple commented on #92
Hmm. I've run a couple of checks on those IPs and it looks like they are all returning identical certificate chains. Please keep us updated if this problem persists.

But, setting `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";` opens a man-in-the-middle vulnerability.

[2015-06-10 02:53] madextreme commented on #92
@tomwhipple Ok, thanks for help. Will try to dig further :)

[2015-06-10 14:51] avidas commented on #92
@madextreme about setting a custom "host" value in the sdk, the "mode" configuration is given precedence so that if we see a config.mode present and equal live or sandbox, we just pick "api.paypal.com" or "api.sandbox.paypal.com". If config.mode is not provided and config.host is provided, then config.host will be used. Try removing mode from your config if you are trying to set a custom host.

[2015-06-10 16:24] AW-UC opened #94 "Set withCredentials=false"
Please set `withCredentials: false` or provide an option for it. As of now, it is undefined. Thus, `http-browserify` sets it to true here: https://github.com/substack/http-browserify/blob/master/lib/request.js#18. In my app, I cannot make any requests because of this. I allways recieve:

    XMLHttpRequest cannot load https://api.sandbox.paypal.com/v1/oauth2/token.
    A wildcard '*' cannot be use

[2015-06-10 19:55] knightcode commented on #89
@avidas The iOS SDK is properly calling `PayPalMobile.preconnectWithEnvironment(PayPalEnvironmentProduction)` ("live"), so that the subsequent call to `PayPalMobile.clientMetadataID()` is getting an ID from the production environment if that matters. So all 4 of the refresh_token, correlation_id, client_id, and client_secret are production values.

It still works flawlessly in sandbox.

[2015-06-10 20:03] knightcode commented on #89
debug id `f1b01bab16a7e`

[2015-06-10 20:56] avidas commented on #89
Hey thanks for providing the debug id. For the error, have you tried console logging the error.response? It generally has the error details.

[2015-06-10 22:05] knightcode commented on #89
seems to be the empty string.

[2015-06-11 10:28] avidas commented on #94
Hey @AW-UC , this happens when you use the library on the client side?

[2015-06-11 11:26] AW-UC commented on #94
exactly. I installed the SDK via [ember-browserify] (https://github.com/ef4/ember-browserify) in my [ember-cli] (https://github.com/ember-cli/ember-cli) app. The Ember CLI app works as a frontend for a Rails API. Of course, I could use the Rails API for doing the Paypal stuff, but I would prefer to do it on the client side.
I know that I can pass `http_options` to `invoke` and `executeHttp`, but t

[2015-06-11 13:49] AW-UC commented on #94
I opened a PR. This might be caused by using `broserify` in the first place. There is another issue, that I fixed with https://github.com/paypal/PayPal-node-SDK/pull/95.

[2015-06-11 19:15] avidas commented on #94
Cool, browerify like use cases have not been a priority for this repo, and enhancements like this are definitely welcome. Thanks for the PR!

[2015-06-13 04:13] #93 closed

[2015-06-15 15:48] avidas commented on #92
@madextreme has this happened since?

[2015-06-15 16:32] knightcode commented on #89
@avidas anything?

[2015-06-15 16:42] AW-UC opened #97 "Include in-context checkout"
An adapted http://www.paypalobjects.com/api/checkout.js should definately be included as an experimental feature. The redirections are aweful.

[2015-06-15 21:42] madextreme commented on #92
@avidas Hi
I've ended up with NODE_TLS_REJECT_UNAUTHORIZED  for now.
For more detailed investigation I think I need to setup a new instance of production config and try to reproduce the issue.

Maybe we should close this issue, and reopen if that will happen again for someone else or I'll find a way to reproduce that?

Thanks

[2015-06-15 22:20] avidas commented on #92
@madextreme sounds good, feel free to reopen if necessary.

[2015-06-15 22:20] #92 closed

[2015-06-16 11:33] AW-UC commented on #97
Ok, I see this is more a limitation of the REST API itself. [Embedded](https://developer.paypal.com/docs/classic/adaptive-payments/ht_ap-embeddedPayment-curl-etc/) and [adaptive](https://developer.paypal.com/docs/classic/adaptive-payments/integration-guide/APIntro/) payments are just not included at all. Sadely, I seems that integration is not going to happen in the closer future.

[2015-06-18 14:33] avidas commented on #89
Hey have not had a chance to debug this yet, will try to take a look soon.

[2015-06-18 14:33] avidas commented on #97
@AW-UC That is currently the case. For embedded and adaptive apis, the current best way would be to use the classic apis.

[2015-06-19 20:01] avidas commented on #89
Hey @knightcode for debugging purposes it would really help if you could use the authorization code you get from the mobile sdk to obtain a refresh token and then make a payment using [curl calls](https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payments_server.md). This would help us determine if this is an accounts issue or an sdk issue.

[2015-06-23 21:33] avidas commented on #89
Also https://developer.paypal.com/developer/applications is worth checking and look under "My apps" and "account eligibility" to check that your particular account can receive future payments.

[2015-06-25 20:39] #89 closed

[2015-06-25 20:50] avidas commented on #84
Unfortunately, this is the best we can offer in debugging this, since multiple debug ids are getting received, there are likely multiple requests being made somehow, likely via retries.

[2015-06-25 20:50] #84 closed

[2015-06-26 17:52] #97 closed

[2015-06-26 18:14] #94 closed

[2015-06-30 22:48] usubhash commented on #68
@night can you check now?

[2015-07-09 23:00] night commented on #68
@usubhash Sorry for the late response.

I got web-hooks for all eChecks since your reply except ```7LX37159S3120111F```. For this transaction, I received an email confirming the clearing at 6 Jul 2015 06:12:58 -0700 (PDT), but not a web-hook. I do not have the debug ID of the initial transaction, however, since I removed my logging of that.

[2015-07-10 17:12] mukulgupta2507 opened #99 "Not able to integrate Paypal-node-sdk in webapp"
Hi,

I was following this tutorial for integrating PayPal-node-SDK in my project for Pay with PayPal option.
http://devblog.paypal.com/building-a-web-app-with-node-js-the-paypal-sdk-part-3/

I'm getting following error:
[code]

Can anyone please help me out to resolve this issue? I'm using MEAN stack for my project.

Thanks

[2015-07-10 20:11] avidas commented on #99
@mukulgupta2507 what version of the sdk are you using? These [issue](https://github.com/paypal/PayPal-node-SDK/issues/79) and [this one](http://stackoverflow.com/questions/28036696/the-request-was-redirected-to-https-com-site-login-which-is-disallowed-f) seems to be related as well.

[2015-07-12 19:03] mukulgupta2507 commented on #99
@avidas Thanks for the useful pointers. I'm able to solve the issue.

[2015-07-12 19:03] #99 closed

[2015-07-12 19:05] mukulgupta2507 opened #100 "Need help with few doubts regarding PayPal-node-SDK integration"
Hi,

I have written a complete question on StackOverflow but none actually responded to that. Can I expect some answers from here ?

http://stackoverflow.com/questions/31369140/integrating-paypal-api-for-recurring-payments

Also, Can I use Vault api from India ?

Thanks

[2015-07-13 17:12] mukulgupta2507 commented on #100
Any updates on this ?

[2015-07-13 17:43] avidas commented on #100
Hey @mukulgupta2507 , we will get back to you with answers soon.

[2015-07-13 18:29] mukulgupta2507 commented on #100
@avidas I have one more doubt regarding PayPal WP Recurring Payments:
https://developer.paypal.com/webapps/developer/docs/classic/paypal-payments-pro/integration-guide/WPRecurringPayments/

Is there any link for PayPal Standard account as well ? Also, Can anyone please tell me whether PayPal Standard includes recurring Payments ?

Regarding integration, can you please clarify if the following samp

[2015-07-13 19:35] ppmtscory commented on #100
@mukulgupta2507 I will try to answer your questions you've just listed out.

1. The Plan is the overall terms of what you want. Many merchants use the same plan for most of their customers so they simply need to create a single plan that will be used amongst multiple agreements.  The agreement is the actual flow the buyer will go through to authorize the terms of the plan.

2. Yes, the Experience

[2015-07-13 19:40] ppmtscory commented on #100
I think I missed your question about PayPal Standard.  With PayPal Standard, you could create a standard HTML Subscription button that would allow for the recurring payment.  More information can be found in the integration guide [here](https://developer.paypal.com/webapps/developer/docs/classic/products/#wps).

[2015-07-14 08:21] mukulgupta2507 commented on #100
@ppmtscory

Following up on the above questions, Can you please cross-verify if I have understood correctly ?

In order to include Pay with PayPal option, I need to first create a billing plan in PayPal. Once I have billingplanId, I can create a billing agreement with user. Also, to cutomize the login page available on redirection, I can use Experience APIs. Correct ? Apart from this I don't need

[2015-07-14 11:06] thiennq opened #101 "Payout error: THIRD_PARTY_CALLS_FORBIDDEN"
Hi,
I create an payout request in sandbox mode and receive this response:

{
  "response": {
    "name": "THIRD_PARTY_CALLS_FORBIDDEN",
    "message":"An internal service error has occurred.",
     "information_link": "https://developer.paypal.com/webapps/developer/docs/api/#THIRD_PARTY_CALLS_FORBIDDEN",
    "httpStatusCode":403
  },
  "httpStatusCode":403
}

[2015-07-14 12:37] avidas commented on #101
Can you share more details about the specific call that you were making? Is it a single/batch payout, did you try it in synchronous or aysnc mode?

[2015-07-14 14:14] ppmtscory commented on #100
@mukulgupta2507

Correct.

You can only update a Billing Plan if it's in a CREATED state.  Once a Plan is active, you'll then need to create a new Plan to make changes.  You would then need to create a new Agreement based on that Plan because the subscribers would need to agree to the new payment terms.

The PayPal page after redirection should be similar to the EC pages but you can set up test Pl

[2015-07-14 16:11] thiennq commented on #101
I'm using ES7 with babel, here my payout wrapper function
[code]

The problem is when I write a testcase which include paypal module (which contains payout function) and run it, the result is OK.

But when I include paypal module to my app, using it to make some future payments then payout, the payout action will return THIRD_PARTY_CALLS_FORBIDDEN error.

[2015-07-14 16:12] thiennq commented on #101
Can previous actions effect to paypal module and create that error?

[2015-07-14 17:19] mukulgupta2507 commented on #100
@ppmtscory

Thanks a lot for the clarification. I'll integrate PayPal with my website coming weekends. I might have to ask few questions then in case of any difficulty.

[2015-07-14 18:12] ppmtscory commented on #100
That's fine @mukulgupta2507.  Feel free to open another issue if you run into any troubles.

[2015-07-14 18:12] #100 closed

[2015-07-14 20:53] avidas commented on #68
@night According to the API team this should be resolved now, please reopen if necessary.

[2015-07-14 20:53] #68 closed

[2015-07-15 14:44] avidas commented on #101
For narrowing down the issue, it could be be worth trying to see if that issue is replicable in a script .e.g. do a future payment and then try to do a payout and see if the same issue comes up?

[2015-07-15 14:50] avidas commented on #101
It would be also useful if you could provide the [debug_id](https://github.com/paypal/PayPal-node-SDK#debugging) from your when you are running into the THIRD_PARTY_CALLS_FORBIDDEN issue.

[2015-07-30 05:52] medaamarnadh opened #102 "INTERNAL_ERROR"
Hi I am using

Paypal-node-sdk in my node webapplication.

I am continously getting INTERNAL_ERROR with the method payout with my sandox environment.
But its working fine from last one month

My request body is
{"sender_batch_header":{"sender_batch_id":"38xwjc3di","email_subject":"You have a payment","recipient_type":"EMAIL"},"items":[{"recipient_type":"EMAIL","amount":{"value":0.99,"currency":"US

[2015-07-30 08:34] jaypatel512 commented on #102
I am able to reproduce this issue. I have raised the issue internally, and would be letting you know as soon as the issue is resolved.

[2015-07-30 08:39] medaamarnadh commented on #102
Thank you for the response. I am waiting for you .

[2015-07-30 12:30] medaamarnadh commented on #102
Hi i am waiting for your repsone. Do you want any other details please mention in the comments.
I will respond to you

[2015-07-30 13:27] juwlee commented on #102
@medaamarnadh can you try again and see if it still persists?

[2015-07-30 17:05] jaypatel512 commented on #102
Tried them locally, and was able to see the success. Closing the issue. Please re-open if issue still exists.

[2015-07-30 17:10] medaamarnadh commented on #102
Hi thank you for the response. I was getting the error still.

[2015-07-30 17:12] jaypatel512 commented on #102
Re-opening, as you are still getting that error. Can you please pass the `debug_id` for the failed try.

[2015-07-30 17:13] medaamarnadh commented on #102
1aaed0b455d4d

[2015-07-30 17:20] jaypatel512 commented on #102
I have asked the internal team to look at it. Here is the internal tracking code: SRE-32577

[2015-07-30 17:23] medaamarnadh commented on #102
Hey thank you for the response. Its working fine now.
If i have any problem again i will get back to you .
If you can tell me exact problem why it was not working that would be great . If there is any thing wrong from my side then i  will try do not repeat the problem again.

[2015-07-30 17:25] jaypatel512 commented on #102
The issue we were seeing was internal. We had resolved the issue. I will close the issue now. There was nothing wrong from your end. It was just a minor migration issue internally.

[2015-07-30 17:25] #102 closed

[2015-07-30 17:43] medaamarnadh commented on #102
Ok thank you

[2015-08-11 16:24] RozzyNoder opened #103 "Payment Approval step fails when return_url includes "localhost""
In the  three step process of accepting Paypal Payment, the  user approval is step 2 where the REST API redirects user  to the merchant specified return_url. But by specifying localhost or variation thereof  in  "create_payment_json" object causes the failure of  the redirection. Thus the next step of Payment Execution can't be executed.
........
"redirect_urls": {
	        "return_url": "http://l

[2015-08-12 14:50] avidas commented on #103
Is there a particular error message that you are getting? I tried creating some sandbox payments with return and cancel url set to localhost and redirection seem to be working fine.

[2015-08-12 15:39] RozzyNoder commented on #103
After I authorize the payment it attempts to redirect which I can see in the address bar but then it returns back to the same Paypal authorization page as the redirection fails. I tried putting IPs a 127.. and 198... and so on but the redirection still fails.

 When I put the actual ip of my router I get "The requested URL ........... was not found on the RomPager server". But the URL in my browse

[2015-08-13 14:06] avidas commented on #103
Hey just to sanity check, you have the redirect url set here right?
![redirect_uri](https://cloud.githubusercontent.com/assets/873597/9251788/7bd94eb2-419a-11e5-8ff5-9158512851f1.jpg)

[2015-08-13 14:10] avidas commented on #101
Closing, reopen if the issue is still happening.

[2015-08-13 14:10] #101 closed

[2015-08-13 15:58] ppmtscory commented on #103
@RozzyNoder I'm wondering if everything is set up correctly with your localhost as I'm not able to reproduce your issue.  When I run the sample code from the SDK, I'm setting my return URL to http://localhost:5050/execute and I'm being redirected just fine.  All I do on that URL is print out the query parameters but everything with the redirect works like it should.  Can you check that there's not

[2015-08-13 18:31] RozzyNoder commented on #103
I set the sandbox return url setting to localhost after Avi mentioned it but that has not made any difference so far. Perhaps it takes longer to get set.

As far as random redirect in my code I am just doing the create payment call that is it. Only place I specify the redirect url is JSON structure. Let me try after few more hours hopefully  it might make a difference.

[2015-08-14 10:41] RozzyNoder commented on #103
@ppmtscory I tried again but does not work. Also tried using a HTTP header capture but interesting stuff happens on Paypal server. Is there a way for me too look at the app error from the PayPal network perspective when the redirect occurs and then fails ? Thx

[2015-08-14 14:19] ppmtscory commented on #103
@RozzyNoder I'm curious if you use 'inspect element' within Chrome, what is the HTTP response code that your site is giving?  Also, are you able to navigate to your localhost just via web instead of the PayPal redirect?

Since this isn't an issue with the SDK itself, if you need any further assistance, we may need to have you work with our [Merchant Technical Support](https://www.paypal-techsuppor

[2015-08-18 14:08] shehzadvbase opened #104 "Delayed Capture"
Hi,
I want to make a delayed capture request as it is supported by payflow.java API. How can i create delayed capture request. Please guide me, Or add this method in  PayPal-node-SDK.

Thanks,

[2015-08-19 07:38] ahsanvbase commented on #104
@shehzadvbase you can do authorization and then capture amount later using PayPal-node-SDK, you can refer to following SO question.

http://stackoverflow.com/a/32081693/2532775

[2015-08-19 12:02] romenrg opened #105 "Payer Information"
Hi,

I'm trying to get the payer's information (specially the country) and I haven't figured up how to do so using this SDK for Paypal's REST API.

In the responses I get once executing "payment.get" or "payment.execute" there is a "payer_info" object that usually looks like this:

[code]

As you can see, the "payer_info" object only includes an email, the name + surname and a payer_id...

How can

[2015-08-19 14:34] avidas commented on #104
Is all you want to do is [capture payments later](https://developer.paypal.com/docs/integration/direct/capture-payment/), that is certainly supported [in the node sdk](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/authorization/capture.js)

[2015-08-19 15:13] avidas commented on #103
Closing as per ^^

[2015-08-19 15:13] #103 closed

[2015-08-19 15:21] avidas commented on #105
Do you notice any difference in this behavior when using paypal vs credit card as payment method? Also, are you getting this in sandbox or live environments?

[2015-08-19 15:50] tomwhipple commented on #105
@romenrg you can use the identity API if you first get the user's consent (via the login in with PayPal OAuth2 experience) to gather this information.

Alternately if you are looking for shipping address, you should examine the payment response.

[2015-08-20 09:36] romenrg commented on #105
@avidas I'm using "paypal" as payment method and this was in "sandbox" envirnonment. I haven't performed a purchase in the "live" envirnoment yet. I was asuming I was getting the same structure in both environment, as expected...

[2015-08-20 09:37] romenrg commented on #105
@tomwhipple I don't see any shipping address in the response I got (as I replied to @avidas, I'm using "paypal" as payment method and the "sandbox" environment.

[2015-08-20 12:34] romenrg commented on #105
Follow-up: I just made a real purchase in "live" environment to test it. Although the payment method I'm setting in the SDK is "paypal" when users go to the billing page of paypal from my site it allows users to pay with debit/credit cards, so in this particular test I paid with a debit card in the billing page of Paypal.

However, I got the same result I was getting yesterday. Actually, even if I

[2015-08-31 18:46] avidas commented on #104
Closing, reopen if you have further questions.

[2015-08-31 18:46] #104 closed

[2015-09-10 22:58] joepie91 opened #106 "Insecure and broken dependency used (node-uuid)"
Just a quick heads-up; the [`node-uuid`](https://www.npmjs.com/package/node-uuid) module is broken and insecure (using an unreliable random source), and should be replaced by the [`uuid`](https://www.npmjs.com/package/uuid) fork.

I've listed more details at broofa/node-uuid#118.

[2015-09-11 20:18] avidas commented on #106
@joepie91 thanks for reporting this! We will look into this.

[2015-09-14 18:50] avidas commented on #106
Our use case for node-uuid does not require a crypotographically secure uuid at this point, so this may not be an issue for us right now. However if that changes, we will definitely refer back to this.

[2015-09-14 19:02] joepie91 commented on #106
Would it not be advantageous to replace the dependency anyway, given that it should be a drop-in replacement?

Otherwise, once the usecase changes, it's possible that the implementor forgets to replace the dependency - they may not be aware of the issue, or it may simply have escaped their attention. That would seem like an unnecessary risk to take.

[2015-09-14 20:49] bomanimc opened #107 "How do I utilize the Webhooks sample?"
My friend and I are hoping to work on building a systems that automatically gets transaction events from Paypal and logs it into Quickbooks. Seemingly, using some sort of a webhook would be really useful for capturing the events in real-time. I came across the Webhooks sample, but I'm not sure how to set it up, get it running, and tracking events from our Paypal account. Do you have any advice on

[2015-09-15 12:17] avidas commented on #107
Hey @bomanimc ,
1. I would get started with reading the docs here https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/ . This explains how to set up a webhook, what kind of events are currently supported and the format in which results come in.

2. Basically you can register one or more urls in the developer portal which PayPal will post notifications to and you can select

[2015-09-15 21:37] avidas commented on #106
That is definitely a valid point. My concern with going to the fork route is that you cannot file issues against it and adoption is not clear. Have you tried submitting a PR to the node-uuid repo/ know if the fork might get merged at some point?

[2015-09-16 08:31] joepie91 commented on #106
According to [npm statistics](https://www.npmjs.com/package/uuid), adoption is sufficient. I have not submitted a PR (as I don't maintain the fork, and there's no point duplicating effort), but I *have* created the referenced ticket - no response has been given to it, and the author of `node-uuid` seems to have gone incommunicado entirely, judging from his [contribution graph](https://github.com/b

[2015-09-16 14:35] avidas commented on #106
Thanks, we do really appreciate you doing that. Let us know when you have an update.

[2015-09-16 19:12] joepie91 commented on #106
The maintainer of the fork has responded; it was apparently an oversight, and issues are now enabled on it :)

[2015-09-17 16:00] avidas commented on #106
That does look encouraging, both from the owner's responsiveness and usage on npm. I am leaning in favor of the migration now :)

[2015-09-21 02:07] madextreme opened #108 "Payment email is missing from execute response"
Hi
Sometimes after execution of approved payments the email field is missing from response in "payer_info". Instead of email there is "billing_address" field there.

The issue is that we don't require user to signup and login in the website in order to make a purchase. So after the purchase we're just sending generated code to buyer's email, and when the email field is missing we can't send the em

[2015-09-21 03:32] avidas commented on #107
Closing, reopen if you have further questions.

[2015-09-21 03:32] #107 closed

[2015-09-21 14:38] avidas commented on #108
@madextreme Is this happening for payment method paypal or credit card? Also did it start happening recently or has it always been this way?

[2015-09-21 21:49] madextreme commented on #108
@avidas In both cases there is "payment_method":"paypal" field.
Here is the response type we usually get (I removed the IDs and personal data)
[code]
And this is the response when the email field is missing
[code]
So instead of "email" there is "billing_address" field. Looks like credit card response, but payment_method is "paypal" in both cases.

[2015-09-22 11:48] dezinezync opened #109 "Q: Recurring Subscriptions in India"
Hello,

I've been looking into creating a recurring subscriptions Agreement with the SDK. I've followed the setup example for the same:
- and have successfully retrieved the `verification_url` and `verification_token`.
- Upon visiting that URL, I'm asked to login, which I do so with a test-user created on the developer dashboard.
- Upon successfully authenticating, I receive the following error:
[

[2015-09-22 14:03] avidas commented on #109
For these kind of requests, you'll want to contact [PayPal Merchant Technical Support](https://www.paypal-techsupport.com/app/ask) with your feedback since they are at the best position to answer questions regarding account eligibility.  Because this isn't directly related to the SDK or its usage,  closing it here.

[2015-09-22 14:03] #109 closed

[2015-09-22 14:05] dezinezync commented on #109
@avidas thank you for pointing me in the right direction. Cheers.

[2015-09-23 15:17] louiecaulfield commented on #108
I'm afraid this is not related to the node implementation. I'm experiencing exactly the same issue with some payments using the [ruby sdk](https://github.com/paypal/PayPal-Ruby-SDK). I've dropped a support request with paypal.

[2015-09-23 15:45] avidas commented on #106
Reopening to keep of this.

[2015-09-23 18:19] davidofferman commented on #108
This issue exists even when calling the REST API directly without the SDK. Sometimes the e-mail address is missing from the lookup and sometimes from the payment execute. I've been getting this issue a lot lately.

Payment Lookup (Before execute)
[code]
Payment Execute
[code]

[2015-09-23 18:24] avidas commented on #108
@louiecaulfield you are right, this is an issue with the api. What is happening is that during the guest checkout flow, when instead of logging into the paypal account, the user actually puts in their credit card information the email field is currently not being returned as part of the REST response. @louiecaulfield you mentioned that you sent a support request to paypal, did they give you any tr

[2015-09-24 22:57] andrewvmail opened #110 "Suggestion on which method to use for this flow"
I'm building a system where a users can pay them self out of credits they acquired from doing some offer in an app. Currently I have everything working using batch payment except when paying out the user when the user  if the user enter in a not valid paypal I will get an error back from the api. Is there a way I can check if a given email address is a correct paypal email address ?

Thanks
Andrew

[2015-09-25 13:48] pp-randy commented on #110
Hi Andrew,

I am not familiar with a way to check if an email address is valid with the REST API. The error from your payout indicates that the email address is invalid?  Could you leverage this error response for your purposes? What are your plans for when the user does not have a PayPal email address?

REST Options: Login with PayPal could be used to obtain a users PayPal email address.

With th

[2015-09-25 19:28] andrewvmail commented on #110
I could do that but I prefer doing it before that method hits.

I think thats a good idea I can get them to login via paypal first to
obtain the paypal email address.

Thanks so much

Andrew

On Fri, Sep 25, 2015 at 6:49 AM, Randy <notifications@github.com> wrote:

[2015-09-28 15:35] avidas commented on #110
Closing, reopen if you have further questions.

[2015-09-28 15:35] #110 closed

[2015-09-28 16:11] avidas commented on #108
We filled an internal issue [PPPLMER-5257] to keep track of this issue.

[2015-09-29 08:20] louiecaulfield commented on #108
I haven't heard back from paypal.

Where did you file the issue? I didn't receive any tracking information for my issue.

[2015-09-29 17:21] avidas commented on #106
Closing as resolved with 1.6.3 release

[2015-09-29 17:21] #106 closed

[2015-09-29 17:23] joepie91 commented on #106
Excellent, thanks!

[2015-09-30 09:16] louiecaulfield commented on #108
I filed the issue again on paypal-techsupport.com and received the following response (thusfar)

[2015-09-30 15:18] avidas commented on #108
I filled it against Merchant Technical Support. You reply and ask if there is an issue tracking number they can share, but that is not absolutely necessary.

[2015-09-30 18:13] madextreme commented on #108
@avidas Thanks a lot for you help. Let's see how it goes :)

[2015-09-30 18:31] louiecaulfield commented on #108
I got this response after mentioning the github issue

[2015-10-02 07:55] Maxhodges commented on #86
@avidas  CVV? you're the first person to even mention CVV in this issue.

[2015-10-02 08:00] henev opened #111 "Approval url for express checkout is not for sandbox if I am in sandox mode"
Hi

When I am in sandbox mode and I send payment create request for paypal express checkout, in the links object in the response, for approval_url I get an url that is redirecting to paypal, not to sandbox.paypal.

When I open that url it says "Your session has ended", but if I add sandbox to the url it opens just fine.

Any ideas?

Thanks in advice :)

[2015-10-02 14:17] thirtified commented on #111
Hi,

this is a current issue with PayPal's Sandbox environment, not with the Node SDK. The issue has been raised internally and the teams are working on a fix. Please check again later – and sorry not to have better news for you at the moment.

\- Julian

[2015-10-05 18:40] jaypatel512 commented on #111
The fix has been released, and now it should be back to normal. Closing the issue.

[2015-10-05 18:40] #111 closed

[2015-10-06 05:16] wallslide opened #112 "No details when error "Response Status : 400" is thrown"
We are using a two-step authorization and capture workflow to capture customer payments (of payment type ```paypal```). I've been seeing ```Response Status : 400``` errors pop up occasionally when we try to run ```payment.execute```.  Unfortunately the error object has no additional information beyond that message. I explicitly log ```error.information_link``` and ```error.details```, but they are

[2015-10-07 12:47] avidas commented on #112
Hey @wallslide , could you possibly post the curl command that you used and the full response that you received? (Please do not post any private information such as card details or client id/secret).

[2015-10-08 01:03] wallslide commented on #112
curl Command:
[code]

curl Response:
[code]

[2015-10-08 01:41] wallslide commented on #112
In some cases we also immediately capture payment from a customer. Today I found a situation in which we tried to immediately capture payment, only to get the `Response Status : 400` error that I've been seeing occasionally. When I followed up with the curl command, I got the following response:

curl command:
[code]

response:
[code]

[2015-10-08 22:50] tomwhipple commented on #112
@wallslide given that this is happening only occasionally, I think your best course of action is to make sure the response (with headers, notably 'PayPal-Debug-Id') is being logged. Then please work with [PayPal Merchant Support](https://www.paypal-techsupport.com/app/ask) to track down the specific issue.

Unfortunately the SDK team does not have the ability to look up account specific informatio

[2015-10-09 04:24] wallslide commented on #112
My guess is that every time a payment authorization or sale fails, I am getting a "Response Status : 400" error. I only occasionally see the error, because customers' authorizations/payments only fail occasionally. Since the errors fail to include any details however, I don't know that this is absolutely the case. The problem is that the error object contains no details other than the very generic

[2015-10-09 10:46] nicknasirpour opened #113 "handling_fee disappearing on live"
Hi, I'm selling a product that has both tax and a handling fee. It works perfectly fine in sandbox mode, but when I swap credentials over to live, the handling_fee disappears from the details in transactions-> amount.details. The tax stays, however. This throws the following error when I try to execute the payment:

{ name: 'VALIDATION_ERROR',
  details:
   [ { field: 'transactions[0].amount',

[2015-10-09 15:05] avidas commented on #113
Hey, @nicknasirpour thanks for providing the debug-id, we will take a look and get back to you soon.

[2015-10-09 16:09] avidas commented on #113
@nicknasirpour can you post the full request you were making as well so that we can try it out? (Please don't provide any sensitive information such as client_id/secret, card information)

[2015-10-09 16:26] avidas commented on #112
Hey @wallslide setting NODE_ENV to development is the current best way to get access to the headers at an sdk level, although with the sdk being open source you can certainly modify it to add logging temporarily.

[2015-10-09 16:37] nicknasirpour commented on #113
Sure, I create my payment with this json:
{
      "intent": "authorize",
      "payer": {
        "payment_method": "paypal"
      },
      "redirect_urls": {
        "return_url": returnurl,
        "cancel_url": canceler'
      },
      "transactions": [{
        "item_list": {
          "items": [{
            "name": name,
            "sku": "earlypc",
            "price": "20.00",

[2015-10-12 15:33] avidas commented on #113
Hey @nicknasirpour , I just tested on live and sandbox and unable to reproduce the issue at this moment. Are you still seeing the same issue?

[2015-10-12 17:58] jhollowell opened #114 "PAYMENT_STATE_INVALID when Creating a Payment"
We have been using following API (https://developer.paypal.com/docs/api/#create-a-payment):
[code]
And intermittently we will get the following error:
[code]

We are setting intent to 'sale', using a Vaulted Credit Card ID, and have a simple transaction object that includes an 'amount' and 'currency' values. The confusing part is that we are setting the intent to 'sale', so the Payment hasn't even

[2015-10-13 14:51] pp-randy commented on #114
If you are setting the intent to Sale and are making a Credit Card payment then the payment is created at that time.  If you want to capture a credit card payment later you can create an authorization instead, more here: https://developer.paypal.com/docs/integration/direct/capture-payment/.

You still need to execute PayPal payments though https://developer.paypal.com/docs/rest/api/payments/#payme

[2015-10-14 00:15] jhollowell commented on #114
So, I want the entire 'Sale' to be processed immediately. I don't want to perform an Auth and Capture. What am I doing wrong that the Payment State is invalid?

Here is the API we are using
``` POST /v1/payments/payment ```

Here is the request body
[code]

Here is the response:
[code]

[2015-10-14 16:55] dv-mobile commented on #114
This issue that jhollowell has submitted is an URGENT production problem for our customer.  It is happening sporadically, meaning it does not fail consistently, nor do we have any clues why the payment state is invalid when it does fail.

Can the debug_id be used to trace details on these transactions?  Please advise asap.

[2015-10-14 17:34] jhollowell commented on #114
Since September 25, we have placed 51 Orders using this method. 30 have been successful and 21 have been unsuccessful. So we are seeing a 40% fail rate. We don't know if this is because of the credit cards we are using, the details we are providing, or something we have just run up agains. Here are the 21 unsuccessful transaction debug_id:

      debug_id: 'e109dd0683f85',
      debug_id: '8e8915e

[2015-10-14 21:06] tomwhipple commented on #114
@jhollowell @dv-mobile we are investigating.

[2015-10-14 21:55] ppmtscory commented on #114
@jhollowell @dv-mobile can I trouble you to file a ticket with our [Merchant Tech Support](https://www.paypal-techsupport.com/app/ask/) team and then report back your ticket number here?  This way we can work directly with you in case we need to get any account specific information.

[2015-10-15 14:23] jhollowell commented on #114
I have just filed a ticket: #151015-000215

[2015-10-15 14:33] ppmtscory commented on #114
Thank you.  I've assigned that ticket to myself and will update you through there.

[2015-10-17 20:55] hamidsani opened #115 "Return URL"
I'm trying to add paypal here sdk to my android app and wanted to use this on heroku as mid-tier server. Now i'm a bit confused as the whole process works and some clarification on the variables would be greatly appreciated. Just to double check I have root url set to the heroku server address (http://example.herokuapp.com), the APP_REDIRECT_URL is set to (appname://ouath). Then I created an app i

[2015-10-19 15:16] ppmtscory commented on #114
Per our conversation in the ticket, I'll be closing out this issue.  If you do happen to see any issues going forward, please don't hesitate to create another tech support ticket.

[2015-10-19 15:16] #114 closed

[2015-10-19 15:26] ppmtscory commented on #115
@hamidsani are you simply trying to use the mid-tier server for the authentication piece?  If so, there's a specific Node sample server for that located [here](https://github.com/paypal/paypal-retail-node) and it even comes complete with it's own "Deploy to Heroku" button.  Please post any issues you have, specific to that, on that repo.

[2015-10-19 15:26] #115 closed

[2015-10-19 18:43] avidas commented on #113
closing as cannot reproduce, reopen if the issue still exists.

[2015-10-19 18:43] #113 closed

[2015-10-20 00:02] hamidsani commented on #115
Okay, Thank you.

[2015-10-22 10:25] louiecaulfield commented on #108
Any update from your side? I haven't heard anything back from paypal.

[2015-10-22 15:29] avidas commented on #108
The issue has been identified and there is ongoing work currently to make sure that we can provide a solution in a way that is compatible. We will keep updating here.

[2015-10-27 04:25] wallslide commented on #112
I've resolved the problem. It was because in some places in my code, I didn't realize that the `details` and `information_link` related to an `error` are located at `error.response.details` or `error.response.information_link`. Now I am able to get the specific error message being thrown, and can write code that responds accordingly.  Thank you for your time. Hopefully someone else can learn from

[2015-10-27 04:25] #112 closed

[2015-10-27 10:16] ZelenskiyDevelopment opened #117 "Create billingPlan"
paypal.billingPlan.create(billingPlanAttributes, function (error, billingPlan)
                  ^
TypeError: Cannot read property 'create' of undefined

What could it be ?

[2015-10-27 14:50] avidas commented on #117
Try git cloning the sdk and running the sample https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_plans/create.js to see if the problem happens there. What version are you using?

[2015-10-27 18:37] ZelenskiyDevelopment commented on #117
What version? SDK ?

[2015-10-27 19:40] avidas commented on #117
Yes, the SDK version.

[2015-10-29 22:55] bolau opened #118 "Delete or cancel created payment before execution"
Hi,
I'm integrating PayPal Plus with my custom shop using the Node SDK. If a customer wants to go to checkout, I create a payment in order to get the PPPlus payment wall. Now, if the customer wants to make changes to the cart before executing the payment, she can go back and do that.
This invalidates the payment, since PATCH cannot update the cart (is that correct?)
When the customer is fine with

[2015-10-30 20:31] ZelenskiyDevelopment commented on #117
"version": "1.6.3"

[2015-11-03 15:44] avidas commented on #117
I am unable to reproduce this, are you able to execute any other sdk functionalities e.g. creating a payment? Does running the sample https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_plans/create.js work?

[2015-11-03 16:16] ppmtscory commented on #118
You are correct that you can only PATCH a Payment prior to redirecting to the `approval_url` so creating a new payment would be accurate here.  The "EC-xxxxxxxx" token that's included in the `approval_url` is only valid for 3 hours so it can just be left floating around.  There's no API call to cancel or invalidate said token anyway, that I'm aware of.

[2015-11-03 16:16] #118 closed

[2015-11-05 19:02] mukulgupta2507 opened #119 "Getting error while using node paypal sdk "TypeError: undefined is not a function""
Hi @ppmtscory @avidas,

I'm getting following error while using sample examples mentioned here: https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_plans/create.js.

[code]
Following is my code:

[code]

Any idea how can I resolve the issue ?

Thanks

[2015-11-05 20:08] avidas commented on #119
Hey @mukulgupta2507, I am going to take a look at this issue soon and get back to you

[2015-11-06 04:02] mukulgupta2507 commented on #119
@avidas I'll be waiting for your response on this. Also, the repo examples which you have shared, it doesn't use any callback. I think examples should be modified so as to handle callback because in common scenarios, people generally use functions for modularity and as such they will surely want to return their results to the caller function.

[2015-11-06 15:00] mukulgupta2507 commented on #119
@avidas Just one quick question. Is this a bug in my code or in the node package ?

[2015-11-06 17:05] avidas commented on #119
What version of node are you on as well @mukulgupta2507 ?

[2015-11-06 17:21] mukulgupta2507 commented on #119
I'm on node v0.12.4 but didn't get it. What does version has to do with this ?

[2015-11-06 18:22] mukulgupta2507 commented on #119
ok..so I'm able to solve the above issue but ran into another problem..While using create billing agreement, I'm getting following error:

[code]

Following are my response:

[code]

Following is my code:

[code]

This is my start_date: 2015-11-07T18:17:33.535Z Can anyone please tell me what is the actual issue over here ?

[2015-11-06 18:41] ppmtscory commented on #119
@mukulgupta2507 you need to remove the milliseconds from your value.  If you pass just up to the seconds, you should be good.  `"start_date": "2015-11-07T18:17:33Z"`

[2015-11-06 20:02] mukulgupta2507 commented on #119
@ppmtscory
Thanks that worked like a charm :) I'm using a sandbox test account but the balance is 0 USD. Is there anyway by which I can test the actual payment flow ?

What I'm able to do so far:
1. Create billing plan
2. Activate the billing plan
2. Create billing agreement

Now, once payment is successful, paypal should redirect to my return url but somehow it's getting redirected to cancel_url.

[2015-11-06 20:06] ppmtscory commented on #119
Yes please try a sandbox account with balance and/or other funding sources.  If you run into issues such as that afterwards, our [Merchant Tech Support](https://paypal-techsupport.com/app/ask) team would probably be best able to help you since this issue is not specific to the SDK.  They'll be able to look at the logs for your attempt to determine what may be going wrong.  When contacting them, be

[2015-11-06 20:11] mukulgupta2507 commented on #119
One last doubt, how can I add balance to my sandbox account ??

[2015-11-06 20:15] ppmtscory commented on #119
The easiest way would be to simply create a new sandbox account from within the developer portal and add a balance to it during the creation process.

[2015-11-07 02:54] mukulgupta2507 commented on #119
@ppmtscory Merchant Tech support link is not working for me. Can you please check the link again ?

[2015-11-07 02:59] ppmtscory commented on #119
Ah, that's my bad, I failed to include the www.  Go [here](https://www.paypal-techsupport.com/app/ask).

[2015-11-07 15:13] mukulgupta2507 commented on #119
@ppmtscory @avidas

I was following this sample code for cancelling a billing agreement https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_agreements/cancel.js

But don't know why is it not working. Once an agreement is cancelled, an api call for fetching the current status of billing agreement results in an error:

https://github.com/paypal/PayPal-node-SDK/blob/mas

[2015-11-07 15:22] mukulgupta2507 commented on #119
Also, I want to add company name/logo on the paypal payment page. I saw this https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment_experience/web_profile/create.js

Any idea how can I use this api to serve my purpose ? Also, if I use above mentioned api, do i need to call it for each of the payment redirection ? or is this called one time ? Also, is there anyway which I can use in

[2015-11-09 10:58] avidas commented on #119
Hey @mukulgupta2507, you can display your logo and customize checkout using payment experience APIs. I would recommend looking at https://developer.paypal.com/docs/integration/direct/rest-experience-overview/ . You only need to create the experience profile once by calling the API, and on subsequent payment create calls pass in the experience_profile_id to ensure custom checkout for users.

[2015-11-10 16:58] avidas commented on #117
Closing due to inactivity, reopen if issue is still happening.

[2015-11-10 16:58] #117 closed

[2015-11-10 20:26] technohowl opened #120 "PayPal notifications sample"
I am running PayPal nodejs 'notifications' samples

**get_and_verify** returns
[code]

[2015-11-16 17:52] avidas commented on #120
Are you running the samples as is or are you using an webhook event id that you have received in your app?

[2015-11-16 19:49] avidas commented on #119
Closing as the original issue has been resolved.

[2015-11-16 19:49] #119 closed

[2015-11-17 15:40] technohowl commented on #120
HI Ananya,

I tried both the samples as well as the webhook id received in my web app.

For the sample I get the error that I posted in the first post.

For webhook event

[2015-11-17 15:40] #120 closed

[2015-11-23 17:28] avidas commented on #105
@romenrg Were you able to find the answers to your questions here or do you still have some of those issues?

[2015-12-03 12:52] romenrg commented on #105
Hi @avidas. Nobody ever replied to me before you, so sadly I haven't received any answers to my questions posted here in August.

[2015-12-07 14:25] beinnova opened #121 "Response status 500 when use Get And Verify method"
Hello,
I'm trying to use notification.getAndVerify() method for check request from webhooks generator on sandbox environment. I have followed the example found in this repo, but when receve the request i get an error: { [Error: Response Status : 500] response: { httpStatusCode: 500 }, httpStatusCode: 500 }.
I use this code for process the request from paypal servers:
[code]

[2015-12-07 15:11] beinnova commented on #121
With correct flow payment work.

[2015-12-07 15:12] beinnova commented on #121
Work with the correct workflow.

[2015-12-07 15:12] #121 closed

[2015-12-09 16:25] trainerbill opened #122 "Add update payment"
https://github.com/paypal/PayPal-node-SDK/blob/master/lib/resources/Payment.js#L13

[2015-12-09 21:04] bluk commented on #122
Fixed in [v1.6.7](https://github.com/paypal/PayPal-node-SDK/releases/tag/v1.6.7)

[2015-12-09 21:04] #122 closed

[2015-12-12 12:59] diegopamio opened #123 "id and state missing from Billing Agreement after creation."
This is really odd, I cannot retrieve the billing agreement id or state after calling creation of the billing agreement... any clue?

I'm using the sandbox.

[2015-12-12 14:21] diegopamio commented on #123
I've checked the internals of the sdk, and it looks like the issue is on the API itself, as it doesn't return the ID as it promises on the documentation.

[2015-12-17 11:39] Gargol opened #125 "Webhook event verification"
Hi guys. Have a question about webhook verification behavior. I am trying to test batch payout hook  in sandbox environment and am getting invalid resource id response all the time, when verifying request through `notification.webhookEvent.getAndVerify` method. This is the response that is being received:
[code]

Is this a correct behavior? Or I'm missing something? Thanks!

[2015-12-17 15:50] bluk commented on #125
The new recommended way to verify webhook event data is [documented here](https://github.com/paypal/PayPal-node-SDK/wiki/Webhook-Validation). The next release should deprecate the `getAndVerify` function.

In some cases, the webhook event data may be sent slightly before it can be GET from the webhook event API. In this scenario, the recommendation is for your webhook event handler to respond with

[2015-12-17 15:55] Gargol commented on #125
Thanks you!

[2015-12-17 16:38] Gargol commented on #125
Just tested with a method described on the wiki page and tried verification with `paypal.notification.webhookEvent.get` method. It only return 404  ` Error: Response Status : 404` and the hook is never called back for retry. Tried both responses 503 as in the wiki and 400, both give the same result. Any thoughts?

[2015-12-17 16:51] bluk commented on #125
The event retry call is not immediate (it's based off a backing off algorithm). If you don't see a retry within the hour, please comment back.

[2015-12-17 18:44] Gargol commented on #125
3 hours after the hook did a first call, didn't call again.

[2015-12-17 20:03] bluk commented on #125
Looking into this. Thanks for reporting back.

[2015-12-20 23:05] whitecolor opened #126 "Use for "digital goods""
Can this module be use for creating "digital goods" payments?

[2015-12-21 10:50] louiecaulfield commented on #108
It's been 3 months now, have you heard anything?

How come this issue is not big enough for them to fix? Would there be a way then to circumvent it?

[2015-12-21 17:49] bluk commented on #126
You should be able to accept payments for "digital goods" (vs. "physical goods") using this SDK.

[2015-12-21 17:49] #126 closed

[2015-12-22 04:44] whitecolor commented on #126
@bluk It tried to create payment with custom profile with `input_fields.no_shipping` (as it stated in docs) set to `1`. It doesn't work, can not open payment for created token using client DGFlow library for processing digital goods (when windows is opened that there is an error that payment can not be processed, though it can be using standard express checkout way). Payment created using old NVP/

[2015-12-22 05:41] bluk commented on #126
Ahh. I see that you meant the [Digital Goods for Express Checkout](https://developer.paypal.com/docs/classic/express-checkout/digital-goods/IntegratingExpressCheckoutDG/).

The node SDK is meant for the REST API (not the NVP/SOAP API). Unfortunately, it isn't supported with the `Digital Goods for Express Checkout`. You can try the [Integration Wizard](https://devtools-paypal.com/integrationwizard/

[2015-12-22 06:20] whitecolor commented on #126
Ok, I use NVP/SOAP api currently, do you know when support with REST API can be expected?

[2015-12-22 14:25] AnkushJaral opened #127 "Iam using PayPal sample application. it gives UNKOWN_ERROR with card number 5555555555554444 , please suggest what to do??"

[2015-12-22 16:47] bluk commented on #126
I don't have any timeline to share unfortunately.

Is there a particular feature about the Digital Goods flow that you need which is not present in the REST API today?

If you're looking for a JavaScript drop-in, you may want to check out [Braintree Payments](https://www.braintreepayments.com) which is part of PayPal. They have the ability to accept payments using a PayPal account and many other p

[2015-12-22 17:07] bluk commented on #127
I assume you are referring to the [rest-api-sample-app-nodejs](https://github.com/paypal/rest-api-sample-app-nodejs) sample application. I tried running the sample and the MasterCard test card number `5555555555554444` seemed to work. I used mastercard as the type, random 3 digit CVV2, and a future expire month and year.

Are you able to use any other test cards such as VISA's `4242424242424242`?

[2015-12-22 19:41] whitecolor commented on #126
@bluk Yes I know, I believe paypal is not in a hurry with such things because of braintree, but we don't have it available in our country yet.

[2015-12-23 07:33] AnkushJaral commented on #127
No, this is also not working.

[2015-12-23 07:34] AnkushJaral commented on #127
Iam using Android sdk sample app.

[2015-12-23 07:38] AnkushJaral commented on #127
It is giving error using Pay with Card But the transaction completes via Pay with PayPal option.

[2015-12-23 17:13] prashshah commented on #108
The fix is being worked on and we expect to release it soon. We will update as soon as we hear more.

[2015-12-27 11:10] fuwaneko commented on #123
I second this. How do I use API if I don't have agreement ID?

[2015-12-27 18:27] fuwaneko opened #128 "Plan ID is missing from retrieve agreement response"
Subject. Docs state that ID must be there. REST API is so inconsistent.
UPD: plan.payment_definitions.name is missing too.

[2015-12-29 18:48] jaypatel512 commented on #123
This is a known inconsistency as compared to payment APIs. However, the agreement will be active when it gets executed after getting the user consent. Once the execute is called, the agreement Id will be returned with the rest of the object.

[2015-12-30 09:58] fuwaneko commented on #123
@jaypatel512 I need to save additional data in DB with agreement, so I have to use dirty workarounds because I don't get unique ID from PayPal. If an object is created, API *must* return it's unique ID. Also, execute **does not return** full agreement object, it misses plan.id for example (and in documentation it's shown in example that it returns *only* ID). For now I use agreement token as uniqu

[2015-12-31 20:58] avidas commented on #127
There have been issues in the past with sandbox from most common card numbers, the discussion here could be useful to you http://stackoverflow.com/questions/21537295/test-credit-card-numbers-for-use-with-paypal-sandbox

[2016-01-02 12:06] Gargol opened #129 "Retrieving payout payment details by transaction_id"
Hi guys. Have a question about API for payments that are created from batch payouts. Is there a way to retrieve payment details by `transaction_id` in payout item like it was provided in old API ([PaymentDetails API Operation](https://developer.paypal.com/docs/classic/api/adaptive-payments/PaymentDetails_API_Operation/)) ? Or the payout items are only retreivable by it's `payout_id`?
Thanks!

[2016-01-04 19:31] ppmtscory commented on #129
@Gargol at this time, it's not possible to use the `transaction_id` to retrieve payment details of a payout item.  You will need to use the `payout_item_id` to look up individual payout items.

[2016-01-04 19:31] #129 closed

[2016-01-04 20:01] Gargol commented on #129
In that case is there some way to traverse all of my payouts and search for given transaction_id ?

[2016-01-04 20:05] Gargol commented on #129
I'm asking because the current dev view is limited to only last 30 days, and I would like to check batches that are couple months older (but only have a transaction_id).

[2016-01-04 20:31] ppmtscory commented on #129
You can try to use [Mass Payments Reporting](https://developer.paypal.com/docs/classic/mass-pay/integration-guide/MassPayReporting/) from within your sandbox account.  You could also attempt to use the Classic [GetTransactionDetails](https://developer.paypal.com/docs/classic/api/merchant/GetTransactionDetails_API_Operation_NVP/) API to look up the status of the specific `transaction_id`.  Keep in

[2016-01-04 21:03] Gargol commented on #129
Thanks mate!

[2016-01-07 15:05] pp-randy commented on #127
The common testing card numbers do tend to usually not work in the sandbox.  However, a fake credit card number should work as long as it passes the luhn algorithm.

[2016-01-07 16:56] pp-randy commented on #127
You can find a Credit Card number here https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413

Scroll to item 4 in the above FAQ and click the Generate CC Number button.

[2016-01-08 15:21] pp-randy commented on #127
@AnkushJaral If you have any issues using a generated card from the link in my previous response please let me know; otherwise, I am closing this issue for now.

[2016-01-08 15:21] #127 closed

[2016-01-09 14:00] rajinderodz opened #130 "Paypal Subscription"
Hi,

I am implementing node-paypal.sdk for subscriptions on node js . But its not working. When i am redirect on paypal sandbox site then its showing blank page.
https://api.sandbox.paypal.com/v1/payments/billing-plans/P-4RT838856L637441AEZMRU4I
I am using following parameters.

PAYPAL_ID=AelynDATJcAAm6Mj1neyA64lP8L4IkifMmi9pPf42jBrVRYIZilHF9V49H0ZONn2uPwmsqBAyTfoYwC1
PAYPAL_SECRET=EK92ssXKYCqih4q

[2016-01-11 18:02] bluk commented on #130
The `self` is not the approval HTML web page that should be presented from the billing plan.

You can see a [billing agreement/plan creation full example](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_agreements/create.js).

You can see the documentation for [billing plan creation](https://developer.paypal.com/docs/integration/direct/create-billing-plan/) (be s

[2016-01-11 18:03] bluk commented on #130
Basically, need to create a billing plan once, activate it, and then create a billing agreement for each user which will have the billing approval URL.

[2016-01-12 04:56] rajinderodz commented on #130
When i have created billing plan and billing agreement then i got approval URL. When i am using that approval URL for payment then payment done successfully but not showing in pay-pal account in buyer or business account. Please let me know what is the reason behind this. i am doing testing on sandbox.

[2016-01-12 05:02] bluk commented on #130
@rajinderodz After you created the billing agreement and the buyer approved it, did you get the payment token and execute the billing agreement? There is a [billing agreement execute sample](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_agreements/execute.js). You get the payment token as a query parameter on the redirect back to your site (you have the redirec

[2016-01-12 05:19] rajinderodz commented on #130
@bluk Thanks your response. But i want to confirm from you if payment done on pay-pal site and redirect on success page. Then we need to run execute URL for displaying transaction in pay-pal account. or need other way to display transaction in pay-pal account?

[2016-01-12 16:40] bluk commented on #130
After executing, the transactions should show up in your test account (in sandbox.paypal.com using your test personal buyer account). For instance, after executing the examples in the documentation, you should see something like:

![screen shot 2016-01-12 at 10 38 15 am](https://cloud.githubusercontent.com/assets/94150/12269815/dcb55dca-b918-11e5-906d-02fa7bd96568.png)

[2016-01-13 05:54] rajinderodz commented on #130
@bluk Thank you very much for your help. its working now.

[2016-01-13 16:09] bluk commented on #130
Great! Glad it works!

[2016-01-13 16:09] #130 closed

[2016-01-18 05:15] rajinderodz opened #131 "PayPal billing agreements REST API - how to start immediately"
Hi,

 Please let me know how we can start subscription immediately in paypla rest api in node js billing Plan.

Thanks

[2016-01-19 20:09] bluk commented on #131
An [example for creating a billing plan and then agreement](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_agreements/create.js) is in the samples repository. If you set the [start_date](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_agreements/create.js#L98), and then execute the billing agreement (after the consumer approves

[2016-01-20 10:09] boboci9 commented on #129
Hi @Gargol,

Did you try to use the Classic GetTransactionDetails API? If yes how did you use it? I am trying to achieve the same thing, getting the transaction details based on a transaction_id? Did you have any luck?

[2016-01-20 17:15] Gargol commented on #129
Hey @boboci9! I ended up populating my `payout_item_id` fields instead, didn't want to waste time on the old API as it doesn't play that well with NodeJS.

[2016-01-21 07:33] AnkushJaral commented on #127
Sir ,
Iam using Sandbox account .The onActivityResult() method of paypal Android sdk returns JSONObject with create time 2014-02-12 which is far past from current date. is it ok???

[2016-01-21 11:11] AnkushJaral opened #132 "Sir Iam using paypal sandbox account with android sdk . Its onActivityResult function return JSONObject with old date time like 12-02-2014 which is far past from current date. is it ok???"

[2016-01-21 14:53] pp-randy commented on #127
@AnkushJaral Would you be able to re-post your question under the android sdk you are using?

[2016-01-21 16:19] bluk commented on #131
You can also see the issue at https://github.com/paypal/PayPal-PHP-SDK/issues/180 for further information (and some potential limitations and workarounds). Please leave a comment if there is still a question/issue. Thanks.

[2016-01-21 16:19] #131 closed

[2016-01-21 16:21] bluk commented on #132
is there a particular action/flow you are using? Also, what field in the JSONObject has the old date?

You may also want to post your issue to https://github.com/paypal/PayPal-Android-SDK/issues since there may be other people who have encountered this issue who may be able to help.

[2016-01-22 05:18] AnkushJaral commented on #132
[{"client":{"environment":"mock","paypal_sdk_version":"2.1.0","platform":"Android","product_name":"PayPal-Android-SDK"},"response":{"create_time":"2014-02-12T22:29:49Z","id":"PAY-6RV70583SB702805EKEYSZ6Y","intent":"sale","state":"approved"},"response_type":"payment"}]

[2016-01-22 05:19] AnkushJaral commented on #132
this response is generated every time

[2016-01-22 05:57] bluk commented on #132
I would check to see if you're using the `PayPalConfiguration.ENVIRONMENT_NO_NETWORK` in your `PayPalConfiguration`. The response seems to indicate it's the mock environment which returns a stubbed response every time.

You should use the `PayPalConfiguration.ENVIRONMENT_SANDBOX` for sandbox. Check the [Android mSDK Sample Code](https://github.com/paypal/PayPal-Android-SDK/blob/master/docs/single_

[2016-01-22 05:57] #132 closed

[2016-01-22 12:14] AnkushJaral commented on #132
Thank you ..

[2016-01-22 12:15] AnkushJaral commented on #132
soo much sir

[2016-01-25 18:17] prashshah commented on #108
The fix has been deployed and the email is not being returned.

[2016-01-25 20:59] #108 closed

[2016-01-26 09:08] madextreme commented on #108
Thanks a lot for your help!

[2016-01-26 15:23] bluk commented on #125
The webhook retries should be fixed now in PayPal API sandbox (live production should have worked all the time). If the webhook returns a non-2xx HTTP response code, then there should be a series of retries. In my test app, the first retry occurs within a few minutes. If it still isn't working, please leave a comment. Thanks!

[2016-01-26 15:23] #125 closed

[2016-01-27 19:28] funnybones opened #133 "Billing Plan IPN"
Hello,

I am building an app with subscription, but payment through credit cards, not paypal. I have read on the documentation that 'execute' step is automatically done for these payments. I have configured in my account the IPN Listener, however, whenever I make a payment in sandbox nothing is sent to my server. Can I configure dynamic the IPN ? Currently I get an error when I am sending the 'not

[2016-02-02 17:24] bluk commented on #133
@funnybones I'm not sure what is possible, so please contact [Merchant Technical Support](https://www.paypal-techsupport.com) to find out the best way to integrate.

[2016-02-02 17:24] #133 closed

[2016-02-11 19:41] BatuhanK opened #134 "Ability to specify timeout time?"
Hello, can we specify timeout (in ms) at requests to PayPal?

[2016-02-11 21:48] bluk commented on #134
There is no generic timeout method available in this SDK right now. Just thinking right now but would you like a global timeout or timeouts for specific requests? Also, for timeouts, there are 2 different ideas where the timeout is the total amount of time allowed for the request (so even if you are receiving a partial response, the request times out) or it only times out if there is no response a

[2016-02-11 23:25] BatuhanK commented on #134
Right now we are facing performance issues at payment.create() method especially when request made to the ip below(after ~15-20 second it gives timeout).
`[Error: connect ETIMEDOUT 173.0.84.66:443]
  code: 'ETIMEDOUT',
  errno: 'ETIMEDOUT',
  syscall: 'connect',
  address: '173.0.84.66',
  port: 443 }`

I'm just asking is there any settings for timeouts? If not, it would be nice to have an optiona

[2016-02-12 05:06] ppmtscory commented on #128
There are plans to update the documentation to specifically say this (so stay tuned for that), but there are many objects that are shared among different REST API sets.  Therefore, even though the object is used, not all of the specific values may be populated.  With that being said, this Plan object is one of them that is shared.  If you look at the sample [response](https://developer.paypal.com/

[2016-02-12 05:06] #128 closed

[2016-02-12 05:14] ppmtscory commented on #123
@diegopamio can you help me to understand this use case a little better?  Why would you need to check the status of an Agreement prior to sending it off to be approved and subsequently executed?  There is no agreement ID until one is executed as that's when it's generated.  Am I missing something or misunderstanding your request?

[2016-02-12 05:25] ppmtscory commented on #105
@romenrg I understand this thread is fairly dated and also can tell you that there was a time last year when there was a bug preventing the address from being returned.  HOWEVER, all of those days are behind us now.  Below is what I get (for `payer_info`) when i call a GET on the payment resource after buyer approval but before execute.  Keep in mind, you'd also get the same address info in the ex

[2016-02-12 05:25] #105 closed

[2016-02-12 05:33] ppmtscory commented on #85
@night our apologies on the delay but this should be resolved at this point.  I'm unable to reproduce an issue where first name isn't populated but should be.  Please do not hesitate to either reopen this issue or create a new issue if you should run into this again.

[2016-02-12 05:33] #85 closed

[2016-02-13 14:59] Zhairgling opened #136 "error when executing the create method"
hello i'm using express 4.13.3 with paypal rest sdk 0.6.4 and when i call the /create route i got :

`[grunt-develop] > C:\Users\cauch\Dropbox\LesPasDeSo\node_modules\paypal-rest-sdk\lib\paypal-rest-sdk.js:208
                response.httpStatusCode = res.statusCode;
                                        ^

TypeError: Cannot assign to read only property 'httpStatusCode' of {"scope":"https://uri.

[2016-02-16 15:53] bluk commented on #136
@Zhairgling Can you try a later version of the PayPal SDK? 0.6.4 is really old (we're on `1.6.8` right now). I think some of the assumptions in 0.6.4 are not compatible with Express 4.x (which was released after 0.6.4).

[2016-02-16 20:25] bluk commented on #134
There are no options to set the request timeout today in the SDK.

I did a few tests, and I don't think setting a [`request.setTimeout`](https://nodejs.org/api/http.html#http_request_settimeout_timeout_callback) will help since that method (and the socket setTimeout method) takes effect only after the connection is made. Going by StackOverflow and other general posts, the timeout set is only for t

[2016-02-16 20:25] #134 closed

[2016-02-17 00:53] iamrudra opened #137 "Billing Plan state remains unchanged and error creating a billing agreement"
I am trying to understand the Billing Agreement flow and so was trying [this sample](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/subscription/billing_agreements/create.js)

Upon execution, the console shows the following output -

`Billing Plan state changed to CREATED`

Followed by an error -

[code]

So **two** things here - The billing plan state is not updated and the billing

[2016-02-20 17:13] ppmtscory commented on #137
@iamrudra thank you for reporting this.  There appears to be an issue somewhere in the update process to make the Plan active.  I will research this further and see what's happening.  In the meantime, you can test with the Plans and Agreements separately in lieu of this combined example.

[2016-02-22 21:53] ppmtscory commented on #137
@iamrudra I had the sample code updated and it's now working for me just fine.  It seems that the `start_date` in the BA params was causing the error.  Let me know if you run into anything further.

[2016-02-22 21:53] #137 closed

[2016-02-23 12:30] keithics opened #139 "Not redirected after payment"
Hello guys,

I was wondering why the API doesn't redirect to the redirect_urls after payment.
Instead it goes to the paypal account. With this behavior, I cannot check whether the transaction was successful or not. I need it to redirect back to my site in order to update the transaction status on my database.

I am using the code similar to : https://github.com/paypal/PayPal-node-SDK/blob/master/s

[2016-02-23 12:55] keithics commented on #139
closing it.. it seems my return url is correct. sorry.

[2016-02-23 12:55] #139 closed

[2016-02-24 17:35] iamrudra commented on #137
Thank you for the prompt action. Will try this one more time and let you know.

[2016-02-25 16:53] ppmtscory commented on #136
Closing due to inactivity.  If your issue persists after upgrading, please feel free to reopen or open a new issue.  Thanks.

[2016-02-25 16:53] #136 closed

[2016-02-26 20:57] ppmtscory commented on #123
Closing due to inactivity.  Everything is functioning as intended according to my testing.  There are plans in the works to add verbiage to dev portal to explain that, even though all objects are listed, there are many that are shared, so there may be some are present in one place but not another.  To your issue specifically, only the Plan details are present in the Execute Agreement response - no

[2016-02-26 20:57] #123 closed

[2016-02-29 16:19] Zhairgling commented on #136
Yeah thanks that working better

[2016-02-29 16:21] Zhairgling opened #140 "node js paypal rest sdk 401 error"
Hi I'm using nodejs and paypal-rest-sdk "^1.6.0" with express 4.13.1 .

When i make live payement i have this error :

 { [Error: Response Status : 401]
  response:
   { error: 'invalid_client',
     error_description: 'Client Authentication failed',
     httpStatusCode: 401 },
  httpStatusCode: 401 }
But when i use the sandebox host, I don't have any error.

does anybody have an odea of what i do

[2016-02-29 16:23] bluk commented on #140
Are you using the correct credentials for the live production site? Be sure you are using the correct client ID and secret which is usually what's wrong for 401s.

Also, if you set the `NODE_ENV=development` environment variable and run your script, can you get a PayPal-Debug-ID?

[2016-02-29 16:33] Zhairgling commented on #140
I'm using the credentials givern in the dashboard in the section 'live'.

when i set the NODE_ENV=development environment variable and run my script, i get a paypal-debug id.

[2016-02-29 16:34] bluk commented on #140
Sorry, can you give the value of the PayPal-Debug-ID for your request? The PayPal-Debug-ID is used to identify request/responses.

[2016-02-29 16:35] Zhairgling commented on #140
paypal-debug-id: e50862eee9950

thanks for help

[2016-02-29 16:41] bluk commented on #140
The `e50862eee9950` request seems to be hitting Sandbox to login. Are you sure that your configuration is something like:

[code]

(Please do *not* share your real client ID and client secret).  Just wanted to make sure that you have `live` specified as the mode (with the live client ID and live client secret).

[2016-02-29 17:34] Zhairgling commented on #140
np, i was using that

var config = {
  "port" : 3000,
  "api" : {
    "host" : "api.paypal.com",
    "port" : "",
    "client_id" : "",
    "client_secret" : ""
  }
}
paypal.configure(config.api);

it's working now.

thank you a lot man :)

[2016-02-29 17:34] #140 closed

[2016-03-02 22:46] hatzipanis commented on #137
The above is still not working for me. Are we sure it is the `start_date` that is causing the issue? I've tried using moment.js and still not having any luck.

[2016-03-03 16:49] ppmtscory commented on #137
@hatzipanis are you using the sample code exactly as is or are you integrating something on your own?  I've used the sample code solely and am able to process the Agreement successfully (after the update to `start_date` was pushed).  In the logging, it says the plan is in `CREATED` state but if you do a GET call on the plan, prior to creating the agreement, you will see that it is actually set to

[2016-03-03 19:10] hatzipanis commented on #137
@ppmtscory thanks for the quick reply. I've solved this by using moment.js and setting a date in the future (which I hadn't done at the time of my last comment). I couldn't get this to work using the sample code in a slightly modified way in my application. I'll put the error down to something in my code though. Cheers!

[2016-03-04 19:57] RayKahn opened #141 "Can't access sandbox - Client Authentication failed"
Hi,
I am trying to integrate paypal-rest-sdk with my node application. The following is my code:

`var paypal = require('paypal-rest-sdk');`
`paypal.configure(Config.paypal_info.api);`

Where api is:

`'api': {`
`'host' : 'api.sandbox.paypal.com',`
`'mode': 'sandbox',`
`'client_id' : 'my client id based on Business-Pro account ',`
`'client_secret' : 'client secret here'`
`}`

And my payment object

[2016-03-04 20:09] pp-randy commented on #141
You are using your sandbox credentials? Also no extra characters in your config string?

[2016-03-04 20:14] RayKahn commented on #141
I am using the sandbox credentials. And I don't see any extra characters in
my config either.

On Fri, Mar 4, 2016 at 12:09 PM Randy <notifications@github.com> wrote:

[2016-03-04 20:42] RayKahn commented on #141
I was able to resolve the issue.
It's not enough to have a developer account; I had to also create an app account (of course this is NOT clear at all). After I created an app account I used the client_id and client_secret to create a payment. Although my "app" is a web application, I think what I have done is correct. Unless someone says otherwise.

[2016-03-04 20:42] #141 closed

[2016-03-04 20:43] pp-randy commented on #141
Yes you need to Create REST API app here: https://developer.paypal.com/developer/applications/

[2016-03-04 20:50] RayKahn commented on #141
Thanks for your help.

On Fri, Mar 4, 2016 at 12:44 PM Randy <notifications@github.com> wrote:

[2016-03-23 15:04] just4give opened #142 "Can I use paypal sdk to access payment in india ?"
I was able to integrate paypal sdk for a website which accepts USD ( eCommerce website in USA). I am planning to build another eCommerce website for a client in India. Website will accept payment in INR using credit cards. Wondering if I can leverage this SDK to integrate payment for an Indian eCommerce website.

[2016-03-23 15:13] bluk commented on #142
The REST API does not currently accept direct credit card payments for India. You can find out more about which currency/country support in the [PayPal Developer site](https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/#direct-credit-card-payments).

[2016-03-23 15:13] #142 closed

[2016-03-29 18:44] benzmuircroft opened #143 "payout_batch_id status needs a token"
How do I check `payout_batch_id` status that my app created?

[code]

when I GET response.links[0].href

then I recieve undefined data and 401 code as a reply.

I saw this in paypals docs:

[code]

I am changing my GET request to

```{url:r.links[0].href,headers:{`Content-Type`:`application/json`,`Authorization`:``}```

but I'm unsure how

I saw this but not sure how to put it as an url string

[c

[2016-03-29 18:57] bluk commented on #143
To get a Bearer Access token, you may want to read the [documentation here](https://developer.paypal.com/docs/api/auth-headers/) under the OAuth Request / Response. Once you have the bearer access token, you replace `<Access-Token>` in your

[code]
with the access token and get the data you want.

If you're using this PayPal Node SDK, you may want to look at the [get payout sample](https://github.

[2016-03-29 19:02] bluk commented on #143
Just to be clear the request to get the access token is the section with the example curl request:

[code]

You should have needed to create a [REST app in your developer dashboard](https://developer.paypal.com/developer/applications/) which is where you got your client ID and secret.

If you have any other questions, please leave a comment.

[2016-03-29 20:23] bluk commented on #143
@benzmuircroft What code/client are you using for your requests? I would recommend trying the `curl` command in a terminal/command prompt to make sure it works with your credentials first.

The `-u "<Client-iD>:<Secret>"` command argument to curl actually adds an `Authorization` HTTP header (technically a [basic auth](https://en.wikipedia.org/wiki/Basic_access_authentication) like `Authorization:

[2016-03-29 20:29] benzmuircroft opened #144 "how to get token? (for issue #143)"
Not sure why @bluk closed issue #143..

[code]

gives me

data `undefined` and `code` 200

as a response with a GET request

Is it something to do with the equals character? I think I'm somehow suppose to be using a semicolon instead but I've got no clue what the key name would be in that case

[code]

semicolon ----------------------------------------^ ?

[2016-03-29 20:33] bluk commented on #144
I reopened #143, so I'll close this as a dupe. I left a [comment as well](https://github.com/paypal/PayPal-node-SDK/issues/143#issuecomment-203084662) with some info about the request you should be using (and if you can answer what code/client/library you're trying to use in #143 , that would be helpful since I'm not sure what the JSON you're pasting correlates to).

[2016-03-29 20:33] #144 closed

[2016-03-29 20:38] benzmuircroft commented on #143
thanks @bluk I'm using this to make the requests:

[code]

(The get function)

[2016-03-29 20:43] benzmuircroft commented on #143
[code]

data `undefined` code `200`

[2016-03-29 20:44] benzmuircroft commented on #143
sandbox environment btw lol

[2016-03-29 20:59] benzmuircroft commented on #143
I don't see the relation with cUrl and node.js. not only do I not get cUrl (I thought it was a php thing) but, also I think this looks like a pretty 'funky'-non-standard cUrl request

[2016-03-29 21:05] benzmuircroft commented on #143
I mean if you go to wikipedia and look at cUrl it says

"The libcurl library is portable. It builds and works identically on many platforms, including Solaris, NetBSD, FreeBSD, OpenBSD, Darwin, HP-UX, IRIX, AIX, Tru64, Linux, UnixWare, HURD, Windows, Symbian, AmigaOS, OS/2, BeOS, OS X, iOS, Android, Ultrix, QNX Neutrino, BlackBerry Tablet OS and BlackBerry 10,[5] OpenVMS, RISC OS, NetWare and DOS"

[2016-03-29 21:08] benzmuircroft commented on #143
dude its here: http://stackoverflow.com/questions/28361205/how-to-retrieve-paypal-rest-api-access-token-using-node I will test this tomorrow before closing this

[2016-03-30 19:02] just4give opened #145 "An internal service error has occurred"
I am constantly getting below error since last 3-4 hours. Everything worked fine till yesterday evening when I tested last. I tried both credit card and paypal payment modes. Used different card numbers as well but every time got same error.  Is there any issue going on with sandbox api  ?

{
	"status": 500,
	"duration_time": 294,
	"body": {
		"message": "An internal service error has occurred",

[2016-03-30 19:14] ppmtscory commented on #145
Hi all, sandbox appears to be experiencing some downtime. We're tracking the issue over at [paypal/PayPal-PHP-SDK#531](https://github.com/paypal/PayPal-PHP-SDK/issues/531), so I'm going to close this one as a duplicate so that we don't have multiple threads. We'll provide back information as we can there.

[2016-03-30 19:14] #145 closed

[2016-03-30 19:17] just4give commented on #145
Thanks a lot for quick response

[2016-04-01 14:36] #143 closed

[2016-04-05 13:51] wfayeBerman opened #146 ""payment_method":"credit_card" Failing"
The "payment_method":"credit_card" isn't working with this nor is it working with cURL.  Here are the steps to reproduce with cURL (and by proxy this plugin)

### do an access token request

    curl https://api.sandbox.paypal.com/v1/oauth2/token \
    -H "Accept: application/json" \
    -H "Accept-Language: en_US" \
    -u "<Client-Id>:<Secret>" \
    -d "grant_type=client_credentials"

### do a

[2016-04-05 13:58] pp-randy commented on #146
Can you provide the error you are receiving in your response?

[2016-04-05 14:04] wfayeBerman commented on #146
Yes, the response is here:
{"name":"INTERNAL_SERVICE_ERROR","information_link":"https://api.sandbox.paypal.com/docs/api/#INTERNAL_SERVICE_ERROR","debug_id":"6bdd4b6e54097"}

A few things to note:
- if you go to that information_link, you'll realize that URL doesn't exist
- if you go to the correct URL https://developer.paypal.com/docs/api/#INTERNAL_SERVICE_ERROR it tells you to contact Merchant Te

[2016-04-05 14:22] pp-randy commented on #146
Can you test a different CC number?  You can generate one here using Step 4 at https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1413&expand=true

[2016-04-05 14:31] pp-randy commented on #146
PPPLPAYPT-7022 for internal tracking with the current card number you are using

[2016-04-05 14:52] wfayeBerman commented on #146
I finally got through to customer support (after 90 mins on hold) and I also generated a new card nubmer using the URL that you provided. 4232133287816699 for visa gave me a response and getting a random number from Get Credit Card Numbers (http://www.getcreditcardnumbers.com/generated-credit-card-numbers) also worked.

Not sure what happened (or even if the issue is resolved) but it seems to be w

[2016-04-05 14:53] #146 closed

[2016-04-05 15:10] pp-randy commented on #146
Its a problem with how sandbox is handling that particular card number.

[2016-04-05 15:15] wfayeBerman commented on #146
But I tried with multiple credit card numbers yesterday. Even from PayPal's
website here:
https://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm

Maybe add a warning to documentation?
On Apr 5, 2016 11:10 AM, "Randy" <notifications@github.com> wrote:

[2016-04-05 15:43] pp-randy commented on #146
The commonly used cards have the issue, you wouldn't face it in production however.

[2016-04-10 13:57] AlexCatch opened #147 "Web hook validation fails on first try persistently."
When I receive a web hook from Paypal, I pass over the ID of the web hook event to my Paypal manager class which in turn calls `Paypal.notification.webhookEvent.get`.

The first time the web hook is received I consistently get the error `'{"name":"INVALID_RESOURCE_ID","details":[],"message":"Resource id is invalid"}'`

Because an error is thrown, I return a 503 and the web hook gets fired again wi

[2016-04-11 13:23] juwlee commented on #147
@AlexCatch Can you please share `debug_id` for the 503 error and the same value when the call works?

[2016-04-11 15:19] bluk commented on #147
@AlexCatch This is a known issue in the web hook system. The issue is that the notification dispatch is fired off as soon as possible but does not guarantee that the web hook can be looked up immediately. Internal bug is being tracked under `ON-57`.

[2016-04-11 21:34] rob-jukedeck opened #148 "Paypal states you'll be able to review your order, but clicking continue takes the money!"
Hi there,

We have put in place paypal payments on our site, according to the documentation here:

https://developer.paypal.com/docs/integration/web/accept-paypal-payment/

and the samples here:

https://github.com/paypal/PayPal-node-SDK/tree/master/samples

So we create the payment, redirect to the returned URL, and then execute the payment once paypal redirects back to us. This works fine, but t

[2016-04-11 21:47] #148 closed

[2016-04-12 18:46] AlexCatch commented on #147
@bluk Is there a way around this issue for the time being? Maybe using a different method?

[2016-04-12 20:45] bluk commented on #147
@AlexCatch The only way I know to avoid this delay currently is to queue up the webhook notifications in your code and wait a few seconds (~10 seconds but times can vary) before trying to get the webhook resource.

The other server side SDKs (except PHP) verify the payload signature as detailed in the [Event Security](https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/?mar

[2016-04-21 19:32] rafaeliga opened #149 "Request errors on client.js"
Hello,

Got some errors when trying to use the library, see screenshot below for more details.

<img width="1184" alt="paypal-rest-sdk" src="https://cloud.githubusercontent.com/assets/92042/14721763/9611675a-07de-11e6-8422-3559e8e5937b.png">

1: process.versions is always empty for me, so I commented out the if.

2: request.js:54 Uncaught Error: Invalid value for opts.mode.
I have to add "http_opt

[2016-04-21 22:25] bluk commented on #149
@rafaeliga What is your environment like (e.g. what version of node.js are you using? are you in a hosted environment (e.g. AWS Lambda or something similar)?)?

[2016-04-22 02:36] rafaeliga commented on #149
@bluk sorry, here is some info, local environment:
Mac OSX 10.11.4.
nginx: 1.8.1 (ssl/https/proxy)
node: v0.10.33

Thanks!

[2016-04-22 15:57] bluk commented on #149
Running a simple script like:

[code]

on `v0.10.33` prints out

[code]

I did a Google search for `node process.versions empty` and it seems that there are some dependencies like `node-process` that might make process.versions "empty". See:

* https://github.com/defunctzombie/node-process/issues/52
* https://github.com/defunctzombie/node-process/issues/30

I can update the code to output the warn

[2016-04-22 17:45] rafaeliga commented on #149
@bluk do you recommend that I try to update my node version or node-process?

package.json:

"devDependencies": {
    "babel": "^5.8.29",
    "babelify": "^6.4.0",
    "browserify": "^11.0.1",
    "chai": "^3.4.1",
    "chai-as-promised": "^5.2.0",
    "crypto-js": "^3.1.5",
    "del": "^1.2.1",
    "event-stream": "^3.3.2",
    "express": "^4.13.3",
    "gulp": "^3.9.0",
    "gulp-browserify": "^

[2016-04-22 19:18] bluk commented on #149
Personally, I recommend using a long term support (LTS) version in production (currently v4.4.3). I don't think it would help with this specific issue, but just as a general best practice.

I saw a bunch of various transitive dependencies for the `process` package which I think is the same as the `node-process` one linked earlier. I think we actually want the packages listed in the [`dependencies`

[2016-04-22 23:02] rafaeliga commented on #149
I see, but we still on dev yet, so the "devDependencies" are the same for "dependencies"

[2016-04-26 16:39] bluk commented on #149
I did some more investigation. Apparently, this `request.js:54 Uncaught Error: Invalid value for opts.mode.` error comes from a version of [stream-http/request.js](https://github.com/jhiesey/stream-http/blob/master/lib/request.js#L51). I'm guessing that you are trying to use `browserify` and using `stream-http` in the browser to simulate node.js's built-in `http` module.

Are you trying to run thi

[2016-04-26 16:52] rafaeliga commented on #149
@bluk Yes, Im using browserify and stream-http, Im going to investigate that, thanks a lot for your help!

[2016-04-26 20:00] #149 closed

[2016-04-28 14:44] jchapelle opened #150 "BillingAgreement Id not returned after creation"
Hello,

The billingAgreement id is not returned after a creation.

The api documentation specify that the id of the billingAgreement is included in the response !
https://developer.paypal.com/docs/api/#create-an-agreement

[2016-04-28 14:47] jchapelle opened #151 "Remove billingPlan issue"
I'm trying to remove a plan.
The request seems to be accepted as I receive a statusCode 200 in the cb of the sdk.

But if I list my plans, the plan is still there ...

[code]

[2016-04-28 14:50] juwlee commented on #150
Hi @jchapelle thanks for reporting. It sounds like [a known issue](https://github.com/paypal/PayPal-Ruby-SDK/issues/66). We can track it there.

[2016-04-28 14:50] #150 closed

[2016-04-28 15:39] bluk commented on #151
The update operation is intended to update specific attributes of a plan (e.g. not delete it). I don't believe there is an operation that allows you to delete a billing plan due to the possibility of dependencies (e.g. billing agreements).

[2016-04-28 15:39] #151 closed

[2016-04-28 15:41] jchapelle commented on #151
Ok thanks

On Thu, Apr 28, 2016 at 5:39 PM, bluk <notifications@github.com> wrote:

--
Jean Chapelle

[2016-04-28 20:41] brandonros opened #152 "start_time + end_time not obeyed when listing payments"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): None
- Version of node.js used: 4.4.3
- SDK Version: 1.6.8

### Issue Description

[code]

Returns results from all months.

What am I doing wrong?

[2016-04-28 21:50] pp-randy commented on #152
I tested your options against Node 4.4.3 and they are pulling February created payments at least in my test against sandbox.  Are the results being sorted by create_time and limiting to 20, or are none of the parameters working correctly?

[2016-04-28 21:52] brandonros commented on #152
@pp-randy: can you confirm this with pagination? Am I supposed to include these options when I include `start_id` in the following request? Should I use `start_index`?

[2016-04-29 13:27] pp-randy commented on #152
I am not having good luck reproducing when paging either, so would you be able to snag a debug-id for me?

You need to choose to use either start_id or start_index for your second request.  The responses have a next_id which can help if you choose start_id. Then I would say keep the other options the same.

[2016-04-30 02:48] brandonros commented on #152
Randy,

To clarify, for pagination (I have more than 20 transactions)

1. First request should have options
2. Second and beyond requests should have just start_id, no options

If this is not true, then that may be the issue (which is extremely awkward, I have to admit)

Otherwise, please try with 40, 60, 80, etc. transactions, ranging from months other than February as well (in the past).

[2016-05-02 14:09] pp-randy commented on #152
You need the other options in your next page searched that you specified in the first request otherwise they will default.

Is your first request returning results as expected and next request causing the mixup?

[2016-05-09 13:49] nicosommi commented on #64
@avidas just curious, what is the answer for this question? Can I authenticate a user with his paypal account so my site can accept payments on their behalf? If not... what will be the way to go in this case?
I'm reading new and old API's docs, authentication methods and I'm kind of confused.
Thanks

[2016-05-09 15:50] bluk commented on #64
@nicosommi You may want to look into using the [PayPal Adaptive Payments API](https://developer.paypal.com/docs/classic/adaptive-payments/gs_AdaptivePayments/). Adaptive Payments have [their own SDKs](https://developer.paypal.com/docs/classic/lifecycle/sdks/).

I don't have a timeline for REST API node.js 3rd party payments support, but it is a feature on the product development radar.

[2016-05-09 16:13] nicosommi commented on #64
@bluk ah ok, thank you!

[2016-05-25 21:47] hofan41 opened #154 "samples/payment/create_with_credit_card.js broken"
### General Information

- Mode (Sandbox/Live): sandbox
- PayPal-Debug-ID(s) (from any logs): dc5d3af6b7ed3
- Version of node.js used: 5.8.0
- SDK Version: 1.6.8

### Issue Description

If you run `node samples/payment/create_with_credit_card.js` you will get an error:

[code]

[2016-05-25 22:06] hofan41 commented on #154
After further testing, it seems the test Credit Card number is the cause behind the error. When I use a real credit card number in its place, the sample creates the payment successfully.

I tried all of the visa test credit card numbers listed at https://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm and they all failed with INTERNAL_SERVICE_ERROR.

[code]

[2016-06-03 13:15] NavyCo opened #156 "Donation hooking???"
### I need help to figure...
I need help to figure out how to if a person has newly donated to your PayPal, to hook that event?
The concept I need to know is, can I hook an event stating if someone has Donated, for how much, and if it's their first time!

[2016-06-04 15:16] jaypatel512 commented on #156
Hey @NavyCo !

I think open forums like stack overflow would be a much better place for you to get help on this. External PayPal Developers dont look into these issues as frequently, and would be able to help you really quick there. This issue board is generally limited to features/bugs for the SDKs.

[2016-06-04 15:16] #156 closed

[2016-06-07 14:53] wenbinke commented on #154
Hello, any updates on this? I got the same error.

[2016-06-07 15:02] pp-randy commented on #154
Linking to https://github.com/paypal/PayPal-NET-SDK/issues/165

[2016-06-07 15:04] pp-randy commented on #154
I apologize an error was encountered. You can use the Credit Card generator here on step 4 https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1413&expand=true&locale=en_US. Any credit card that passes Luhn algorithm can be used, so you could also use code to generate a test card number.

[2016-06-07 15:04] #154 closed

[2016-06-09 15:28] ppmtscory commented on #152
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2016-06-09 15:28] #152 closed

[2016-06-13 12:39] Michael-Hamburger opened #158 "How to get Express Checkout Token?"
Hi!

I am trying to add paypal express checkout to our browser-game. We are using node.js for backend (the api-framework is called deployd) and your sdk. I can use paypal.payment.create(...) and the redirect url works for normal express checkout payment. Now I want to use the In-Context Checkout.

I added the checkout.js and the script according to https://developer.paypal.com/docs/classic/express

[2016-06-13 15:08] pp-randy commented on #158
I'm only aware of it in the approval_url link in the links of the create payment response.

https://developer.paypal.com/docs/integration/web/accept-paypal-payment/
[code]
The EC token in this link is EC-60U79048BN7719609

[2016-06-14 10:46] Michael-Hamburger commented on #158
Thanks, it worked! Now I need to find ot how I can accept pending payments via the sdk.

[2016-06-14 13:25] #158 closed

[2016-06-15 04:55] wzup opened #159 "All config parameters?"
Where do you hide all config parameters?

In your example we see:

[code]

Now I open the very first [example](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/openid_connect/openid-connect.js#L20) and suddenly I discover some other parameter `openid_redirect_uri`:

[code]

You ignore to provide **FULL LIST** of parameters. Where to find them?

[2016-06-16 08:21] avmurshid opened #160 "PayPal Express Checkout - How to add billing type and billing description?"
### General Information

- Mode (Sandbox):
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used:
- SDK Version:

### Issue Description

Hi,
 I am trying to create paypal express checkot token.  am getting token starting with "PAY-" for example (PAY-8BH845240T6776127K5RF6QY) , My requirment is token starting with EC. Please reply on this. Thanks in advance.

[2016-06-16 10:52] Michael-Hamburger commented on #160
See #158
You can extract the EC-Token from the approval_url.

[2016-06-18 07:52] avmurshid commented on #160
Thanks @Michael-Hamburger :
My i need to add billing type and billing description in the same request.  please comment on this.

[2016-06-18 07:54] avmurshid commented on #158
I need to add billing type and billing description in the same request.  please comment on this.

[2016-06-20 14:32] pp-randy commented on #160
@avmurshid can you provide more details about the type of request you are making? Is this for a Billing Agreement or a Payment?

[2016-06-22 02:15] zilions commented on #88
Are Adaptive Payments supported on REST yet? Or do we still have to use the classic API..?

[2016-06-23 03:02] ppmtscory commented on #159
Those are it.  Those are just samples that show that there can be two different configs for two different samples.  It's possible that you may use one set of credentials to handle your Log In With PayPal (openidconnect) stuff whereas you may use a different set of credentials to handle the other REST APIs.  If you use the same credentials, then that's fine as well.  The Log In With PayPal flow, ho

[2016-06-23 03:02] #159 closed

[2016-06-28 06:52] gharlock opened #161 "Cannot assign to read only property 'httpStatusCode'..."
Hello,
I'm using PayPal-node-SDK v1.6.8 and sometimes the "paypal.payment.create" method fails with:
- **uncaughtException: Cannot assign to read only property 'httpStatusCode' of...**

Here the stack:
[code]

Thanks for help

[2016-06-29 07:03] tc214 opened #162 "Does the sdk have an API for checking status of payment ?"
### General Information
Does the sdk have an API for checking status of payment ?

- Mode (Sandbox/Live):
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used:
- SDK Version:

### Issue Description

[2016-06-29 20:15] ppmtscory commented on #161
Do you have any way to reliably recreate this scenario?

[2016-06-29 20:16] ppmtscory commented on #162
If you do a GET call on the payment (sample [here](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/get.js)) then you would get the status in the response.

[2016-06-29 20:16] #162 closed

[2016-06-30 07:33] gharlock commented on #161
Unfortunately not. All my attempts were successful both in sandbox and in production.

[2016-06-30 14:38] ppmtscory commented on #161
Hmm.. I wonder if it was just a system glitch at the time.  Perhaps one of our internal services were being updated or you ran into a bad box.  I'm going to close this out as we're unable to reproduce, but please do re-open or file a new issue if you see it happen again.

[2016-06-30 14:38] #161 closed

[2016-07-07 16:23] tc214 opened #163 "function about paypal.payment.execute()"
PayPal-node-SDK-master\PayPal-node-SDK-master\samples\payment\execute.js:
[code]
---
I really confused with this function. Does it means that the payment has been completed when this function is called?
Look forward to your reply.

- Mode (Sandbox/Live):
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used:
- SDK Version:

### Issue Description

[2016-07-07 16:27] jaypatel512 commented on #163
You can read a bit more about creating and executing payments in our [developer docs](https://developer.paypal.com/docs/api/payments/#payment_create).

This code will basically execute (complete) the payment, once the buyer has approved the payment from his side.

[2016-07-07 16:27] #163 closed

[2016-07-07 16:37] tc214 commented on #162
Yeah, I know the response from paypal's server  after call on the payment, but I want to check the status by calling an API freely.

[2016-07-07 17:55] ppmtscory commented on #162
You can do the GET call on the payment at any time - you wouldn't have to only get the status from the payment response itself.  Also, you can make this call via API freely outside of the SDK as well.  [Here](https://developer.paypal.com/docs/api/) is a list of REST APIs that are available for use.

[2016-07-08 11:38] tc214 opened #164 "INVALID_RESOURCE_ID"
###
error_log:
{ [Error: Response Status : 404]
  response:
   { name: 'INVALID_RESOURCE_ID',
     message: 'The requested resource ID was not found',
     information_link: 'https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID',
     debug_id: 'e639ba9e22a06',
     httpStatusCode: 404 },
  httpStatusCode: 404 }

- Mode (Sandbox/Live):
- PayPal-Debug-ID(s) (from any logs):

[2016-07-08 14:54] tc214 commented on #162
@ppmtscory Thank you verymuch! Just as you say, do the Get call can get the status of payment.

[2016-07-08 23:50] tomzan opened #165 "Adding order summary to payment"
Hi,

Is there a way to specify the order details, and not just amount.total?

all the examples I've run into looks like this:
[code]

[2016-07-08 23:57] #165 closed

[2016-07-09 09:11] tc214 commented on #164
I have soled this problem which result from argument error.
paypal.payment.execute(arg.payment_id,...     ---shoud be paypal.payment.execute(arg.paymentId,...

[2016-07-09 09:38] #164 closed

[2016-07-09 09:40] gbairi19 commented on #164
‏في السبت، ٩ يوليو، ٢٠١٦, tc214 <notifications@github.com> كتب:

--
0506017008

[2016-07-11 10:36] tc214 opened #166 "IPN:order_id"
###
var arguments = {
    "mc_gross":"1.00",
    "protection_eligibility":"Eligible",
    "address_status":"confirmed",
    "payer_id":"LQ5T2HLCCXPAE",
    "address_street":"NO 1 Nan Jin Road",
    "payment_date":"19:11:19 Jul 10, 2016 PDT",
    "payment_status":"Completed",
    "charset":"windows-1252",
    "address_zip":"200000",
    "first_name":"can",
    "mc_fee":"0.34",
    "address_country_

[2016-07-13 19:28] wzup opened #167 "error_description: 'Invalid authorization code'"
What's that? Whole Paypal API documentation doesn't have anything close to this error (https://developer.paypal.com/search/?q=%22Invalid+authorization+code%22). There is just no `error_description: 'Invalid authorization code'` in docs. Since I use `PayPal-node-SDK`, it is your custom error wrapper.
What does this error mean?
Which API error does it match?
Where is full list of `PayPal-node-SDK` e

[2016-07-14 02:54] zenweasel opened #168 "Payment created with `intent` set to "authorize" does not return an authorization ID"
### General Information

- Mode (Sandbox/Live):
Sandbox

- PayPal-Debug-ID(s) (from any logs):

- Version of node.js used:
6.3.0

- SDK Version:
1.6.9

### Issue Description
I am trying to create a payment for later capture. According to the docs [here](https://developer.paypal.com/docs/integration/direct/capture-payment/#authorize-the-payment) if I set the `intent` to "authorize" I should get bac

[2016-07-14 03:14] ppmtscory commented on #168
@zenweasel I'm able to reproduce this with the SDK but when using the REST API directly, the full `related_resources` object is blank.  I will work with the team internally to see what's happening here and get a fix pushed out.  I notice that the GET call against the Pay-ID also isn't returning it.

[2016-07-14 03:18] sankarbhavanib commented on #168
@zenweasel @ppmtscory I am looking into this issue will update you soon

[2016-07-14 03:20] zenweasel commented on #168
@sankarbhavanib Thanks so much. If it's of any value I also tested with the Python SDK and got the same results (no related resources)

[2016-07-14 03:40] ppmtscory commented on #167
The authorization code is returned when you're getting permissions from a user via Login With PayPal and can be found in the [openid-connect.js](https://github.com/paypal/PayPal-node-SDK/blob/master/samples/openid_connect/openid-connect.js) sample of this SDK.  More information on Login with PayPal, and it's functionality, can be found [here](https://developer.paypal.com/docs/integration/direct/id

[2016-07-14 03:44] ppmtscory commented on #166
An order ID will only be used for an 'order' type transaction.  Transactions can either be an order, authorization, or a sale.  I think what you're looking for is a way to tie the transaction back to your system and for that, you'll want to look at either the `custom` or `invoice_number` fields of the `transaction` object which can be found [here](https://developer.paypal.com/docs/api/payments/#de

[2016-07-14 03:44] #166 closed

[2016-07-14 03:47] ppmtscory commented on #160
Billing Plans and Billing Agreements are their own sets of APIs via REST and are not included within the Create a Payment requests.

[2016-07-14 03:47] #160 closed

[2016-07-14 17:52] jaypatel512 commented on #168
@ppmtscory @zenweasel On further investigation, this is what I found.

- When using this credit card `4619590530147250` (Master Card), the response object has a `state` value as `created`.
- However, if you use any other Master Card, the response object has a `state` value as `approved`.
- The related resources are only showing up when the state has been approved.
- In your case, for some reason t

[2016-07-14 17:53] jaypatel512 commented on #168
Changing this to API bug.

[2016-07-14 18:32] #168 closed

[2016-07-14 22:03] zenweasel commented on #168
As stated in the docs, this payment method can be used with any card which passes a MOD10 check. Trying with numerous other credit card numbers produces the same error.

[2016-07-14 22:12] jaypatel512 commented on #168
Can you please pass those other credit cards that are failing. I wish to check if my theory is correct or not.

[2016-07-14 22:18] zenweasel commented on #168
**Visa**
4242424242424242.
4012888888881881

**MasterCard*
5555555555554444

[2016-07-14 22:28] zenweasel commented on #168
Also, didn't @ppmtscory say that "but when using the REST API directly, the full related_resources object is available." So how would using a different credit card come into play here?

[2016-07-14 23:22] jaypatel512 commented on #168
Thanks for the reply. I will investigate further with these numbers and get back to you. However, in the mean time, can you please make sure that any credit card generated from [Step 4 of credit card generator]( https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413&viewlocale=en_US&direct=en) are working for you ? Are you getting the same error on all the credit

[2016-07-14 23:42] zenweasel commented on #168
1. When using the card I created following your instructions I get the proper response back.
2. I get that error on any of those cards. Running them through other processors (Stripe) works fine.
3. We are an eCommerce platform, we don't have a "Live" environment. I don't have any customer reports yet of any issues, but I don't know how many are using Payflow Pro.

[2016-07-22 09:16] SuperMasterBlasterLaser opened #169 "Opening Authorization URL shows Error page"
### General Information

- Mode (Sandbox/Live): sandbox
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used: 5.4.1
- SDK Version: 1.6.9

### Issue Description

Hello. I have added my `client_id`, `secret_id` and `return_uri` to paypal configuration:

    paypal.configure({
        mode: 'sandbox',
        openid_client_id: '<CLIENT ID>',
        openid_client_secret: '<SECRET ID>',

[2016-07-22 15:05] ppmtscory commented on #169
It most likely has to do with the redirect URL not being correct.  Can you make sure that you're using the client ID/secret and return URL from your App you created on dev portal?  Everything is working fine for me with valid information so if it's not just an issue with incorrect information, then you'll need to file a ticket with our Merchant Tech Support team so they can get some account inform

[2016-07-27 14:08] uditkumawat opened #170 "my code is giving INTERNAL server error by using credentials given in samples."
### General Information

- Mode -Sandbox
- PayPal-Debug-ID(s) - a5c4cf23ee380
- Version of node.js used: 4.4.7
- SDK Version: latest

### Issue Description

my code is giving INTERNAL server error by using credentials given in samples.

[2016-07-27 15:08] sankarbhavanib commented on #170
@uditkumawat I believe it's network issue the request timed out .  `exception=Socket read from XX.XX.XXX.XXX timed out after XX,XXX milliseconds.`

[2016-07-28 04:37] uditkumawat commented on #170
can  I use the credentials of card shown in samples ?

[2016-07-28 04:44] sankarbhavanib commented on #170
We suggest creating your own credit card by following these [steps](https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413&viewlocale=en_US&direct=en).

[2016-07-28 04:53] uditkumawat commented on #170
I am still getting this debug code 12f66d4b8104b

[2016-07-28 04:53] uditkumawat commented on #170
can u please help me in getting TEST card for my testing purpose ?

[2016-07-28 13:51] pp-randy commented on #170
@uditkumawat at the URL provided by @sankarbhavanib go to Step 4 and click the Generate CC Number button after selecting the card type you want.

 https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413&viewlocale=en_US&direct=en

[2016-07-28 14:27] pp-randy commented on #169
What was the URL you are copy / pasting?

[2016-07-28 14:29] pp-randy commented on #167
Closing this issue, if you need further help @wzup please let up know

[2016-07-28 14:29] #167 closed

[2016-07-28 19:28] #170 closed

[2016-08-04 04:34] uditkumawat opened #171 "OTP verification"
### General Information

- Mode  - Live
- SDK Version:Paypal node sdk

### Issue Description

can I use Paypal REST API node sdk in making transactions in INDIA ?

does it need OTP verification at any step ?

[2016-08-06 06:48] strideynet opened #172 "Error 500 on payment execution"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): aedba0d07fa9, 	8cc333d86754b, 28ca4aff7be77
- Version of node.js used: 4.4.5
- SDK Version: 1.6.9

### Issue Description

Using in combination with express. Payment creation and redirection goes completely fine however when it comes to executing it we error out with a 500.

[2016-08-06 13:54] ApricumMedia commented on #172
Having the same issue. When sending "intent":"sale", it remains in a "created" state, execution is not possible. When sending "authorize" and then "execute", it seems to be working but the money is never transferred.

[2016-08-06 15:45] dongzhi-yang commented on #172
I am having the same issue even ifI call the web services directly. I suspect something is wrong with the sandbox of paypal today.

[2016-08-06 15:49] ApricumMedia commented on #172
Interesting, thanks @dongzhi-yang. I've been having issues with their Developers section since I started. Couldn't create working accounts fromt the dashboard, took me a day to do it manually. Integrated transaction "sale" and "execute", worked twice yesterday, not once today.

[2016-08-08 03:09] dongzhi-yang commented on #172
@ApricumMedia , you are welcome. I tried again just now, and the the execute api is working.
I guess there may be some server maintenance going on for paypal sandbox during the weekend.

[2016-08-08 09:11] ApricumMedia commented on #172
<img width="1432" alt="screen shot 2016-08-08 at 11 08 02" src="https://cloud.githubusercontent.com/assets/7656669/17474876/78ce625e-5d58-11e6-8942-0073a4af3b2b.png">
No changes on my side. Creating a transaction of "intent":"sale" works absolutely fine, execution always fails.

[2016-08-08 15:11] rgins16 commented on #99
@mukulgupta2507 If you don't mind, could you explain how you solved your issue?

[2016-08-10 16:03] pp-randy commented on #171
@uditkumawat this question would best be answered by a business support or a sales team with knowledge of India integration options.  You should be able to get assistance at the Merchant page here: https://www.paypal.com/in/webapps/mpp/merchant/

[2016-08-10 16:03] #171 closed

[2016-08-10 16:09] bluk commented on #172
Sorry for the late reply. This sandbox error should be fixed now. There is one intermittent error under specific conditions that may be run into, but sandbox should work again for the vast majority of developers. See https://github.com/paypal/PayPal-iOS-SDK/issues/440 . If you still have an issue, please leave a comment. Thanks!

[2016-08-10 16:09] #172 closed

[2016-08-11 11:03] joseaomedes opened #173 "500 Internal Service Error when creating a payment"
### General Information

- Mode (Sandbox/Live): SandBox
- PayPal-Debug-ID(s) (from any logs): bf8c7ce6d4fea
- Version of node.js used: 0.10.46
- SDK Version:  'paypal-rest-sdk': '1.6.9'

### Issue Description

Payment Info:

'{"intent":"sale","redirect_urls":{"return_url":"http://localhost:3000/paypal-complete","cancel_url":"http://localhost:3000/paypal-cancel"},"payer":{"payment_method":"paypal"}

[2016-08-11 14:16] pp-randy commented on #173
@joseaomedes I see your most recent request worked for you. To me this appears to have been a temporary issue as I do not see that your API request has changed.

[2016-08-11 14:46] pp-randy commented on #173
I have confirmed the issue was with the sandbox and should be resolved.

[2016-08-11 14:46] #173 closed

[2016-08-11 16:55] joseaomedes commented on #173
Thanks a lot for your help. I will be closing this issue then.

[2016-08-12 11:23] kacak9229 opened #174 "Does paypal node accept debit card in paypal.payment.create()?"
### General Information

- Mode (Sandbox/Live):
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used:
- SDK Version:

### Issue Description

[2016-08-12 13:41] pp-randy commented on #174
@kacak9229 if the Debit Card is on the Visa or MasterCard rails then it should work.
https://developer.paypal.com/docs/api/payments/#definition-credit_card

[2016-08-12 16:38] kacak9229 commented on #174
Thanks

[2016-08-12 16:42] kacak9229 opened #175 "Express checkout in node"
My goal is to add an express checkout button, but I don't know how to do it on the serverside

On clientside I managed to put this code

[code]

It shows the button and so on. But i assume that i need to create a checkout URL for posting

I already installed the paypal rest-sdk

[code]

[code]
The price of the item will be generated by mongoose, just to let you guys know

[code]

Regards

[2016-08-19 14:33] #174 closed

[2016-08-21 06:54] mayconjcm opened #177 "Subscription Payments + Payment Experience can work together?"
Hello,
I have some question.

I'm trying to use the Subscription Payments plus Payment Experience API, but isn't working.
I can do this using the Simple Payment API!

Can i do that or is not released yet?

Nice repo, thanks!

[2016-09-01 06:54] wzup opened #178 "A json sample with ALL possible options for Create Payment config?"
First off, is is difficult to use official API docs (https://developer.paypal.com/docs/api/payments) when you create a payment. Unfriendly user interface and experience.

Here I found a minimal sample for create payment json https://devtools-paypal.com/hateoas/index.html
[code]

However, I want the same but with **ALL** possible `key: values`. Where can I find it? Can you provide it somewhere?

[2016-09-01 16:18] pp-randy commented on #178
@wzup the API documentation is where to go, but it does require a bit of drilling down. If you started at [Create Payment](https://developer.paypal.com/docs/api/payments/#payment_create_request) you would then drill down into [Transactions object](https://developer.paypal.com/docs/api/payments/#definition-transaction) and so fourth.

[2016-09-05 06:06] wzup opened #179 "Plunker example not found"
![plunker - google chrome 2016-09-05 14 02 44](https://cloud.githubusercontent.com/assets/3880497/18238674/e5ef67be-7371-11e6-8106-451198186f55.png)

Links:
http://plnkr.co/edit/2GGEyNEFUPCZ7jIIGk9X?p=preview
http://plnkr.co/edit/XS7EvmrCY1UlkF1nHe8x?p=preview
http://plnkr.co/edit/RifUli3hDIq6kQJI0Ujc?p=preview
http://plnkr.co/edit/2xZbf7YATgldHklUPMXq?p=preview

From here: https://developer.paypa

[2016-09-05 16:29] wzup opened #180 "[In-Context Checkout] "Uncaught SecurityError: Blocked a frame with origin ...". checkout.js:4734 throws error"
What error is this? How to circumvent/solve?

(anonymous function) @ checkout.js:4734

How it happened.
I can't use your API the way you present in your docs (https://developer.paypal.com/docs/classic/express-checkout/in-context/javascript_advanced_settings/). I use React and I need buttons and click handlers and etc. to be in my components, I need to send server a data that lives in my React comp

[2016-09-05 18:54] EVikulov opened #181 "Can not execute payout after future payment execution"
### General Information

- Mode (Sandbox/Live):Sandbox
- PayPal-Debug-ID(s) (from any logs):c7840e9a80c9, c7840e9a80c9
- Version of node.js used:6.2.2
- SDK Version:1.6.9

### Issue Description
Can not execute payout after future payment execution.

My application workflow have a next scheme:
1)Charge users with future payment(by consent provided by user)
then
2)Calculate some extras and fund it t

[2016-09-06 04:09] uditkumawat opened #182 "how to send payment amount to other user paypal account using REST API"
### General Information

- Mode  - Sandbox
- Version of node.js used: latest
- SDK Version: latest

### Issue Description

I am beginner in using Paypal node sdk.How can we transfer amount to user paypal account using RESTAPI ?

[2016-09-06 06:30] wzup opened #183 "MALFORMED_REQUEST error is not informative"
What error message is this? How can I know what is "MALFORMED" in my JSON?

[code]

I have huge `payment_json` config and I want to know exactly what fields are "MALFORMED". Tell me what fields are "MALFORMED" here. How can I know it from your error message?

[code]

Please do us a favour, create human readable, understandable error message!

[2016-09-06 07:10] wzup opened #184 "[Payments API] "payer -> payer_info -> salutation" field throws MALFORMED_REQUEST error"
Continue for this https://github.com/paypal/PayPal-node-SDK/issues/183

Why do you include `salutation` in your docs if this doesn't go with your system? If it breaks your system

[code]

[2016-09-06 13:40] pp-randy commented on #179
The links provided are working for me at this time.  Can you try again?

[2016-09-06 13:40] #178 closed

[2016-09-06 13:45] pp-randy commented on #177
I apologize for the delay @mayconjcm, I see you are on the PHP thread, so I will close this issue.  We will provide updates here: https://github.com/paypal/PayPal-PHP-SDK/issues/119

[2016-09-06 13:45] #177 closed

[2016-09-06 15:29] pp-randy commented on #184
Closing this issue, will track here: https://github.com/paypal/PayPal-node-SDK/issues/183

[2016-09-06 15:29] #184 closed

[2016-09-06 17:53] pp-randy commented on #182
@uditkumawat you can use this SDK with Payouts API.

Documentation: https://developer.paypal.com/docs/integration/direct/payouts/

Sample: https://github.com/paypal/PayPal-node-SDK/tree/master/samples/payout

Please let me know if you have further questions.

[2016-09-06 17:53] #182 closed

[2016-09-07 05:34] wzup commented on #179
Do not work. I get redirected to http://plnkr.co/edit/?p=preview everytime I try to open any of those links

[2016-09-07 06:00] wzup opened #185 ""Show payment details to buyer" step doesn't work"
There is an optional step you promote in your docs - **Show payment details to buyer** https://developer.paypal.com/docs/integration/direct/express-checkout/show-payment-details/

The questions are:

1) how does it go with **Advanced In-Context JavaScript settings** https://developer.paypal.com/docs/classic/express-checkout/in-context/javascript_advanced_settings/?

2) How does it suppose work?

T

[2016-09-07 13:39] wzup opened #186 "Will anybody from Paypal ever bother to answer questions on Stackoverflow?"
Does Paypal have any developer support? Why send people on Stackoverflow if there is no any support there? It is getting worse and worse to work with Paypal. Small processing companies have much more dynamic support.

http://stackoverflow.com/questions/39371310/in-context-checkout-no-response-handler-found-for-post-message-response-error
http://stackoverflow.com/questions/39343560/how-to-check-if-

[2016-09-07 14:03] pp-randy commented on #179
I am using Chrome and it is loading for me; however, here is this example for you http://plnkr.co/edit/XS7EvmrCY1UlkF1nHe8x?p=preview, please let me know if you need additional ones.

**index.html**
[code]
**post.html**
[code]

[2016-09-07 14:06] pp-randy commented on #183
Salutation is read only, so you should not set a value for it.

https://developer.paypal.com/docs/api/payments/#definition-payer_info

![image](https://cloud.githubusercontent.com/assets/6819909/18314832/5b3c8a60-74da-11e6-91a5-b057710813ce.png)

[2016-09-07 14:06] #183 closed

[2016-09-07 15:22] pp-randy commented on #186
PayPal Technical Support can be reached here: https://www.paypal-techsupport.com/app/ask

[2016-09-07 15:22] #186 closed

[2016-09-07 15:24] wzup opened #187 "Where can I find FULL documentation for Advanced In-Context Checkout integration?"
Here are API methods from your [docs](https://developer.paypal.com/docs/classic/express-checkout/in-context/javascript_advanced_settings/):

[code]

The screenshots. Pls, pay attention to parameters in functions.

![advanced in-context javascript settings - paypal developer - google chrome 2016-09-07 23 15 14](https://cloud.githubusercontent.com/assets/3880497/18317519/080edf38-7551-11e6-8638-fcf1

[2016-09-07 15:25] pp-randy commented on #185
Per https://github.com/paypal/PayPal-node-SDK/issues/186.  PayPal Technical Support will be able to assist you with integrating In-Context.

[2016-09-07 15:25] #185 closed

[2016-09-07 16:35] sargsyantaron opened #188 "Requested resource ID was not found when doing payment.get"
### General Information

- Mode :Sandbox
- PayPal-Debug-ID(s) (from any logs):ff343198cbbe3
- Version of node.js used: 4.3.2
- SDK Version: 1.6.9

### Issue Description

I'm doing basic payment check and need to get payment by id to check if payment has been authorized or not, but getting 404 resource not found error.

below is the output from sdk
{ [Error: Response Status : 404]
  response:
   {

[2016-09-08 15:52] wzup opened #189 "What is a "cart" field in "Show payment details" response object?"
Here a sample https://github.com/paypal/PayPal-node-SDK/blob/master/samples/payment/get.js

[code]

The response `payment` object has a field that is not documented in API. It is some `cart` field:
[code]

[2016-09-13 14:25] pp-randy commented on #189
Cart is the id of the cart being used to execute the payment. In the context of a PayPal payment it is Express Checkout token minus  the "EC-" string in front of the value of cart.  If you look at the end of approval_url in the create payment response you will see EC- followed by the cart value.  Together this "EC-" + cart value is the Express Checkout Token.

[2016-09-13 14:25] #189 closed

[2016-09-15 13:38] webmasterkarthi opened #190 "Sandbox Credit Card payment always returns INTERNAL_SERVICE_ERROR"
### General Information

- Mode  : Sandbox
- PayPal-Debug-ID(s) : a93515f621560, a93515f621560
- Version of node.js used: v4.4.4
- SDK Version: 1.6.9

### Issue Description

[2016-09-17 09:09] nkhine commented on #190
I have the same issues and looking at the logs, i have:

[code]

it looks like PayPal's end points are no longer working!

[2016-09-17 10:32] Jason32g commented on #190
How to add money to paypal
On Sep 17, 2016 4:09 AM, "Norman Khine" <notifications@github.com> wrote:

[2016-09-18 03:17] webmasterkarthi commented on #190
UPDATE: I resolved this problem by changing client_id and secret. Actually, i created sandbox account and paypal app from my personal paypal account. Not sure whether any settings on my app caused this error. When i use merchant account client_id and secret it worked fine.

[2016-09-19 16:23] #180 closed

[2016-09-19 16:25] #181 closed

[2016-09-19 16:29] #179 closed

[2016-09-19 17:27] pp-randy commented on #190
@webmasterkarthi you could be seeing an issue in the sandbox for your credit card payments which is described in more detail here: https://github.com/paypal/PayPal-PHP-SDK/issues/639.  To sum it up payment_card funding instrument is working and credit_card is having issues in the sandbox.

[2016-09-19 17:29] pp-randy commented on #190
@nkhine can you reach out to PayPal Technical Support here: https://www.paypal-techsupport.com/app/ask

It appears you may be having a DNS issue, or similar issue, that PayPal Technical Support would be better able to assist you with.

[2016-09-19 17:29] #190 closed

[2016-09-19 19:38] pp-randy commented on #188
@sargsyantaron are you still having an issue?  If so, can you provide the complete URL the request is going to?  A new debug id would be helpful since I can't find the logs for your previous attempts currently.

I have seen some cases where the payment was in sandbox and the lookup was going to live, so something worth checking.

[2016-09-20 06:54] tc214 opened #191 "create payment fail"
### General Information
orderinfo:

{"intent":"sale","payer":{"payment_method":"paypal"},"redirect_urls":{"return_url":"61.147.115.218:10000/orderExecute?order_id=08d303a9-14e5-4103-8d7b-91e06d661293","cancel_url":"61.147.115.218:10080/new_product/mall/index.htm?status=cancel&order_id=08d303a9-14e5-4103-8d7b-91e06d661293"},"transactions":[{"amount":{"currency":"USD","total":0.01},"item_list":{"ite

[2016-09-20 07:01] tc214 opened #192 "IPN payment_status"
###
Generally,  IPN's payment_status is Completed if the payment was executed, or Pending for some pending reason, or Refunded if seller refund the payment.  Then how many kinds of IPN's payment_status total?

This problem confused me some days. Could anyone help me?
- Mode (Sandbox/Live):Sandbox
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used:
- SDK Version:

### Issue Description

[2016-09-20 15:41] jasoncheng opened #193 "payment.create: approval_url always session has ended"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): PAY-6PB56377WL3102457K7QOWUY
- Version of node.js used: 0.12.13
- SDK Version:1.6.8

### Issue Description

I can get all function work but today, when i redirect to PayPal, it's always show

"Your session has ended. Your PayPal account hasn't been charged. Please go back to the merchant's site and check

[2016-09-20 15:44] bluk commented on #193
Thank you for reporting this sandbox issue. We currently have an internal ticket PPPLMER-20280 to track this.

Please see https://github.com/paypal/PayPal-NET-SDK/issues/193#issuecomment-248335995 .

[2016-09-20 15:50] bluk commented on #191
Can you please enable `NODE_ENV=development` and get the PayPal-Debug-ID? See https://github.com/paypal/PayPal-node-SDK#debugging for more information on how to enable debug. If you can give us the PayPal-Debug-ID, we can better assist you.

[2016-09-20 16:00] bluepnume commented on #187
Hi wzup,

The parameters you're seeing in the code are there for special cases and to help us debug -- as such they're not in the public documentation.

I took a look at your stackoverflow, and I managed to repro the "No response handler found for post message response" error. This is an internal error, and I'm making a fix for the next release of checkout.js

Thanks

[2016-09-21 09:45] sargsyantaron commented on #188
@pp-randy will be doing some tests this week and if it still there will let you know details.

thanks

[2016-09-21 14:16] pp-randy commented on #193
This issue is resolved at this time.  I apologize for any inconvenience.

[2016-09-21 14:16] #193 closed

[2016-09-21 14:18] pp-randy commented on #188
Thank you @sargsyantaron let me know what you find out.  If you don't see this anymore, we have had some recent sandbox issues that have been resolved.

[2016-09-21 16:21] Jason32g commented on #188
Can u create a payment for me to receive to add money to my PayPal.

On Sep 21, 2016 10:18 AM, "Randy" <notifications@github.com> wrote:

[2016-09-21 16:22] Jason32g commented on #188
Good job.!

On Sep 21, 2016 12:20 PM, "Jason Garrison" <jasongarrison84@gmail.com>
wrote:

[2016-09-21 20:40] arielmcm opened #194 "INTERNAL_SERVICE_ERROR when creating a payment"
### General Information

- Mode: Sandbox
- PayPal-Debug-ID(s): 2d37b50170ceb
- Version of node.js used: 6.3.1
- SDK Version: 1.6.9

### Issue Description

When I try to create a payment in my Loopback API, the service always returns:

'{"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error occurred.","information_link":"https://developer.paypal.com/web
apps/developer/docs/api/#INTER

[2016-09-22 12:39] yitz-jacob opened #195 "BillingAgreement.execute() failed twice for a specific user -- other users fine"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs):  none appeared (? which is part of the diagnostic issue)
- Version of node.js used: 0.10.46
- SDK Version: 1.6.1

### Issue Description

running under node/express, we use the node API to allow users to sign up for either recurring or one-time payments to our site. This case is a recurring once yearly paymen

[2016-09-22 14:55] yitz-jacob commented on #195
From reading up more in other issues and the read me, it seems that I'm not getting a debug-id back because this is our production server..  and we're working against paypal live. Is there a way to turn on debugging for a particular request somehow, or tell the paypal-node-sdk to be in debug mode without the whole server running in debug mode? It would be impractical to run the whole prod server t

[2016-09-22 15:57] bluk commented on #195
@yitz-jacob There could be an issue with the user's account which could be causing this issue. Since this is a live production issue, can you please contact [PayPal Merchant Technical Support](https://www.paypal-techsupport.com/app/ask)?

We will look into making the debug process easier.

[2016-09-23 06:50] wzup opened #196 "How do I remove a “Ship to” section from Checkout Popup?"
Is there any option, when creating a payment with Paypal API, that allows to remove a "Ship to" section from Checkout popup? I mean just not to displayit in popup. **OR** how to disable an option to change shipping address? To display an address, just disable `Change` arrow button.

I do not use a `shipping_address` option anywhere in `payment_json` object when creating a configuration for a Payme

[2016-09-26 14:05] sargsyantaron commented on #188
ok tested just now

name: 'INVALID_RESOURCE_ID',
message: 'Requested resource ID was not found.',
information_link: 'https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID',
debug_id: '4eba8613945d8',
httpStatusCode: 404

[2016-09-26 14:09] sargsyantaron commented on #188
path i was trying to reach is /v1/payments/payment/PAY-1CH415761F1235919KIQMTGY

[2016-09-26 14:18] pp-randy commented on #188
@sargsyantaron  I'm not seeing your logs for that attempt, so I need to get some more information from you.

Can you give the Paypal-Debug-Id from the header of your Create Payment response?  What is the full URL your payment lookup and does it match the link value from when you created the payment?

[2016-09-26 14:30] sargsyantaron commented on #188
I'm getting this error when i try to get payment to create payment

[2016-09-26 14:31] sargsyantaron commented on #188
here is response from create payment on android client

`{
                                                                        "response": {
                                                                            "state": "approved",
                                                                            "id": "PAY-1CH415761F1235919KIQMTGY",

[2016-09-26 14:33] sargsyantaron commented on #188
my user flow is the following

1. user makes payment from android device
2. once payment is approved android app send payment id back to backend system for verification

and the error i see is when i try to get payment by id based on paymentid received from android device.

[2016-09-26 14:41] sargsyantaron commented on #188
seems i found the issue, let me check something and i will update the ticket or close it.

[2016-09-26 15:12] #188 closed

[2016-09-26 15:13] sargsyantaron commented on #188
the issue was with mobile client creating payment in different environment

[2016-09-27 15:05] thirtified commented on #196
Yes, this is probably the wrong place to ask such a general API question, and it has [now been answered on SO](http://stackoverflow.com/a/39712308/170132).

[2016-09-28 14:55] pp-randy commented on #196
Closing as this has been answered on StackOverflow.

[2016-09-28 14:55] #196 closed

[2016-09-30 05:50] uditkumawat opened #197 "Error while using LIVE credentials with REST API"
### General Information

- Mode (Live):
- PayPal-Debug-ID(s) (from any logs): 1559c48ff33c8
- Version of node.js used: 4.4.7
- SDK Version:

### Issue Description

{
	"status": 403,
	"duration_time": 123,
	"body": {
		"message": "Authorization error occurred",
		"debug_id": "1559c48ff33c8",
		"information_link": "https://developer.paypal.com/docs/api/payments.payouts-batch/#errors",
		"name": "AUT

[2016-09-30 05:51] uditkumawat commented on #182
@pp-randy payouts API is giving error with LIVE credentials like this :

{
	"status": 403,
	"duration_time": 123,
	"body": {
		"message": "Authorization error occurred",
		"debug_id": "1559c48ff33c8",
		"information_link": "https://developer.paypal.com/docs/api/payments.payouts-batch/#errors",
		"name": "AUTHORIZATION_ERROR"
	},
	"additional_properties": {},
	"header": {
		"Content-Length": "188",

[2016-09-30 12:40] ankit-clicklabs opened #198 "INTERNAL_SERVICE_ERROR while making payments with saved credit card"
- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): 49b9550e54cef
- Version of node.js used: v6.2.2
- SDK Version:1.6.9

I am getting "INTERNAL_SERVICE_ERROR" whenever I try to make any payments.This error  comes up rather infrequently , so I am unable to find out what I may be doing wrong.

[2016-09-30 15:34] bluk commented on #197
Is payouts enabled for your live account ( https://developer.paypal.com/developer/accountStatus/ )?

![screen shot 2016-09-30 at 10 33 53 am](https://cloud.githubusercontent.com/assets/94150/18997316/780ad846-86f9-11e6-8314-b030080e52b8.png)

[2016-09-30 15:37] #195 closed

[2016-09-30 16:17] uditkumawat commented on #197
Direct credit card and payouts option is not enable.....it was showing that ' we need some more information to enable' . what's that more informatuon ?

[2016-09-30 16:17] uditkumawat commented on #197
I request customer support to please enable these services for my account

[2016-09-30 16:20] bluk commented on #197
@uditkumawat [PayPal Merchant Technical Support](https://www.paypal-techsupport.com) is the best way to resolve this since it's a live account issue. The SDK team doesn't have access to live credentials, so you will have to resolve this with tech support. Hope that helps.

[2016-09-30 16:20] #197 closed

[2016-10-01 03:07] WayneUong opened #199 "Webhooks work on live mode but not sandbox"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): 5c6f9ae6a4a8c, 5c6f9ae6a4a8c
- Version of node.js used: 4.47 (with Meteor)
- SDK Version: latest

### Issue Description

I used the create billing plan sample code to test webhooks. I have an endpoint subscribing to all events. If I create a plan with live mode, a `BILLING.PLAN.CREATED` event was received

[2016-10-01 05:16] appzone opened #200 "How to get Transaction ID of success payment ?"
Hi
i have success execute the payment, but how i get the transaction id of that success payment?

i only get paymentID, token, payerID

thanks

[2016-10-01 05:23] appzone commented on #200
nvm  i can get the data now.

[2016-10-01 05:23] #200 closed

[2016-10-03 13:47] pp-randy commented on #182
Have you requested Payouts to be enabled on your account?https://developer.paypal.com/docs/integration/direct/payouts/#enable-payouts

[2016-10-03 14:04] uditkumawat commented on #182
Can you please help me in providing steps for enabling payouts ? I will be very thankful to you

[2016-10-03 14:09] pp-randy commented on #182
The guide has some details but it also says you can reach out to PayPal Customer Service here: https://www.paypal.com/selfhelp/home

[2016-10-03 15:21] uditkumawat commented on #182
I have already raised a request at technical support but didn't got their mail .

[2016-10-04 02:22] #199 closed

[2016-10-04 03:46] #192 closed

[2016-10-04 03:47] #191 closed

[2016-10-04 06:29] uditkumawat opened #201 "UNAUTHORIZED ERROR with LIVE credentials"
General Information

Mode (Live):
PayPal-Debug-ID(s) (from any logs): 1559c48ff33c8
Version of node.js used: 4.4.7
SDK Version:
Issue Description

I am using REST API for creating payment using credit card and payouts.But it was working fine with sandbox credentials but for Live credentials it was giving errors like this :
{
"status": 403,
"duration_time": 123,
"body": {
"message": "Authorization

[2016-10-04 13:02] terehov opened #202 "Errors while trying to retrieve payment informations on live"
### General Information

- Mode (Sandbox/Live): live
- PayPal-Debug-ID(s) (from any logs):
paypal-debug-id: 5cbaa6677e22c, 5cbaa6677e22c
paypal-debug-id: fd92c206189c5, fd92c206189c5

- Version of node.js used: 6.4
- SDK Version:1.6.9

Error while trying to list all payment transactions:
paypal-debug-id: 5cbaa6677e22c, 5cbaa6677e22c
paypal-debug-id: fd92c206189c5, fd92c206189c5
List Payments Respo

[2016-10-04 14:31] bluk commented on #201
@uditkumawat Please see the [supported countries list](https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/#direct-credit-card-payments) (basically UK Pro accounts) and ensure that your account's country is eligible for direct credit card transactions with the REST APIs.

If it is not supported, you may want to check out [Braintree Payments](https://www.b

[2016-10-04 14:31] #201 closed

[2016-10-04 14:42] bluk commented on #202
@terehov Are you trying to lookup a payment that was made using Adaptive Payments? If so, you cannot directly lookup the payment via the REST API.

Please see the [documentation](https://developer.paypal.com/docs/classic/adaptive-payments/ht_ap-parallelPayment-curl-etc/) for how to look up an adaptive payment info. You may want to use an [Adaptive Payments SDK](https://developer.paypal.com/docs/cl

[2016-10-04 14:42] #202 closed

[2016-10-04 14:48] bluk commented on #198
@ankit-clicklabs I don't think it's anything you're doing wrong. There was an internal error in one of the services that caused this specific error. If this keeps happening, please leave a comment or open a new issue.

[2016-10-04 14:48] #198 closed

[2016-10-04 15:03] bluk commented on #194
@arielmcm Sorry for the late reply. Can you please try again now? There were a few sandbox service deployments that may have fixed this in sandbox.

I was able to successfully invoke this transaction in sandbox using something like:

[code]

I would also verify that the `payerId` is correct by GETting the vaulted payment `https://api.sandbox.paypal.com/v1/vault/credit-cards/<vaulted credit card id

[2016-10-05 14:32] pp-randy commented on #182
You need PayPal Custom Service, I do not believe PayPal Technical Support can make account changes.

[2016-10-05 18:47] bluk commented on #169
Closing due to inactivity. If this is still an issue, please leave a comment, and we'll reopen. Thanks!

[2016-10-05 18:47] #169 closed

[2016-10-06 12:29] novajohn opened #205 "Billing plan frequency less than a DAY"
### General Information
- Mode: Sandbox
- Version of node.js used: 6.6.0
- SDK Version: 1.6.9
### Issue Description

While implementing a user subscription to a certain billing plan I figured out the minimum _frequency_ value for a plan's [payment_definitions](https://developer.paypal.com/docs/api/payments.billing-plans#definition-payment_definition) is a **DAY**. But it's a very long period of ti

[2016-10-06 14:52] bluk commented on #205
I don't believe there's a way to do that today. I've opened internal issue PPPLMER-21291 to track this enhancement. Thanks for the suggestion.

[2016-10-07 01:05] arielmcm commented on #194
Yes, it is working right now. Thanks!

[2016-10-07 02:25] #194 closed

[2016-10-07 08:43] trancehime opened #206 "paypal.payment.create method unexpectedly terminates after printing payment object"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): 63ead10c4d6e6
- Version of node.js used: 0.10.x
- SDK Version: 1.6.9

### Issue Description

I am using 'paypal-rest-sdk' as part of a Meteor application. In order to purchase a specific item, I am sending the following object to the create payment endpoint:
[code]
However i only get this as a response:

[2016-10-07 09:38] trancehime commented on #206
Discovered the issue; I did not bind paypal.payment.create to paypal.payment in my Meteor.wrapAsync call.

[2016-10-07 09:38] #206 closed

[2016-10-07 15:23] vatex opened #207 ""INTERNAL_SERVICE_ERROR" when trying to execute payment"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): 9cec3d41b0cf3
- Version of node.js used:v6.3.1
- SDK Version: 1.6.9

### Issue Description

[2016-10-07 16:29] bluk commented on #207
Please see https://github.com/paypal/PayPal-PHP-SDK/issues/676 . Internal issue PPPLMER-21356 is being used to track this. My apologies for the inconvenience.

[2016-10-07 16:31] vatex commented on #207
@bluk Why you closed this issue? Is it fixed? I don't understand why it was happened... Can I continue testing in sandbox?

[2016-10-07 16:36] bluk commented on #207
@vatex PayPal is currently experiencing a sandbox issue internally (there isn't anything wrong with your integration). Please see the linked issue for status updates. It is to help keep track and everyone updated at the same time.

[2016-10-07 16:39] vatex commented on #207
@bluk Thank you!

[2016-10-08 02:22] bluk commented on #207
This should be fixed now. I was able to execute a payment earlier. If you're still encountering an issue, please open a new issue with a `PayPal-Debug-ID` if possible. Thanks for your patience and our apologies for the issue.

[2016-10-08 02:22] #207 closed

[2016-10-10 02:25] tc214 commented on #191
Tks. It's paypal sandbox system's problem.

[2016-10-10 07:06] uditkumawat opened #208 "How to check whether the amount sent to paypal id using payouts is valid paypal id or not?"
### General Information

- Mode (Live): Live
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used: 4.4.7
- SDK Version: latest

### Issue Description
I am sending payment using payout API in live environment but I have to check whether the paypal id is valid or not ?

Is there any API for that verification ?

[2016-10-11 11:24] vldkrt opened #210 "500 Internal server error for execute payment"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): ed0dd37ba4d6f
- Version of node.js used: 5.0.0
- SDK Version:  1.6.9

### Issue Description
I get a 500 error when I try to finalize a payment

[2016-10-11 15:00] pp-randy commented on #210
Thank for reporting the issue.  This is a PayPal system issue, please follow the issue in our PHP issue repository here https://github.com/paypal/PayPal-PHP-SDK/issues/685 for further updates.

[2016-10-11 15:00] #210 closed

[2016-10-11 22:56] gastonelhordoy commented on #123
Hey @ppmtscory, I know this is an old issue, but I just stumbled into the same problem. Based on the [documentation for creating a Billing Agreement](https://developer.paypal.com/docs/api/payments.billing-agreements#agreement_create_response) via the REST API, an ID should be returned.
How can we get this ID?

Thanks in advance for your help!

[2016-10-13 09:05] tc214 opened #211 "IPN URL"
### General Information
Do anybody know IPN URL setting?

- Mode (Sandbox/Live):Sandbox
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used:
- SDK Version:

### Issue Description
Hi! Our online shop has integrated paypal-node-sdk and it works greatly. However, we have some servers at different countries: one at America, one at China, one at Japan ,etc. All the servers will run a online

[2016-10-13 15:31] bluk commented on #211
Please see https://developer.paypal.com/docs/classic/ipn/integration-guide/IPNSetup/ . The IPN Listener can be dynamically set for specific integrations. If you are using the REST API, you can also look into setting up multiple webhooks. There are other possible solutions (like forwarding the event yourself which you can find on StackOverflow/searches) but are outside the scope of this SDK.

[2016-10-13 15:31] #211 closed

[2016-10-13 15:46] bluk commented on #208
[GetVerifiedStatus_API_Operation](https://developer.paypal.com/docs/classic/api/adaptive-accounts/GetVerifiedStatus_API_Operation/) may help but it is part of the Adaptive Payments API which is [now on a limited release.](https://devblog.paypal.com/adaptive-payments-limited-release/). The reason why there isn't an API is because it could be used for abuse.

[2016-10-13 15:46] #208 closed

[2016-10-14 07:18] tc214 commented on #211
@bluk Tks.  Maybe webhooks can help me solve the problem.

[2016-10-14 09:57] ankit-daffodil2 opened #213 "Not able to transact with paypal future payments"
### Issue Description

I am using Android and Node JS for paypal integration for automatic payment from one account to another.(Future Payment)

I have got access to paypal account from buyer and passed the ```Authorization Code``` and ```MetaData Id``` from my android app onto my node server.

I have fetched ```refresh token``` and ```access token``` from the Authorization Code and created a futu

[2016-10-14 15:27] bluk commented on #213
@ankit-daffodil2 You shouldn't need to execute the payment using `paypal.payment.execute`. What is the error you get for the `paypal.payment.create`? Do you have a PayPal-Debug-ID for that?

[2016-10-14 16:27] ankit-daffodil2 commented on #213
I am able to successfully create the payment. After creating the payment, I am capturing the payment as you can see in code and as mentioned in docs.

What to do after that is not mentioned in the docs. As I am not able to see any transaction in my Sandbox account upto this step.

If there is no need to use ```paypal.payment.execute``` then what to do after ```paypal.authorization.capture``` to ma

[2016-10-17 15:01] bluk commented on #213
@ankit-daffodil2 Parallel/chained payments are supported under the Adaptive Payments platform which doesn't have a node.js SDK, and I believe does require a UI authentication in the flow.

[2016-10-17 15:31] #213 closed

[2016-10-17 15:33] ppmtscory commented on #123
@gastonelhordoy the Plan ID (if that's what you're referring to) is returned in the Create response when the payment method is PayPal.  It doesn't propagate all the way through the Execute; only the Plan details themselves.  Therefore, it won't be present in the Execute response or the Create response when the payment method is credit card (because it's automatically executed).

[2016-10-17 15:39] ankit-daffodil2 commented on #213
I have done it without UI authentication using payout.

I want to know I am paying 4.2% transaction fee during transfer from buyer to Facilitator and paying 2% transaction fee from facilitator to seller.

Is there any way to save transaction fee amount?

[2016-10-17 15:44] gastonelhordoy commented on #123
Hi @ppmtscory, thanks for replying, but I was referring to the Identifier of the agreement (not the plan). In the documentation I linked, you can see that after creating an Agreement (not yet executed) and ID should be returned in the response but according to my tests it is not.

[2016-10-17 15:49] bluk commented on #213
You should contact [PayPal Support](https://www.paypal.com/us/selfhelp/home). They know more about the fee structure and what is the best path for your business.

[2016-10-17 18:36] ppmtscory commented on #123
Ah, ok, my apologies.  For that, please see my response from Feb 11th...

Can you help me to understand this use case a little better? Why would you need to check the status of an Agreement prior to sending it off to be approved and subsequently executed? _There is no agreement ID until one is executed as that's when it's generated_.